@charset 'utf-8';

caption { display: none;}
.table_wrap {border-top: 1px solid var(--line-color); border-bottom: 1px solid var(--line-color-gray);}
.table_wrap.scroll {width: 560px; overflow: auto; }
.table {table-layout: fixed; font-size: 14px; text-align: center;color: var(--txt-color-gray);}
.table thead th {border: 0; font-weight: 700; color: var(--txt-color);}
.table th { font-weight: 300; border-width: 1px 0 0 0; border-style: solid; border-color: var(--line-color-gray); padding: 15px 0;}
.table td {border-width: 1px 0 0 1px; border-style: solid; border-color: var(--line-color-gray); padding: 15px 0;}


.table_info { overflow: hidden; border-top: 1px solid var(--line-color);} 
.table_info.td_gray td {color: #999;}
.table_info.mt60 { margin-top: 60px;}
.table_info table { display: table; width: calc(100% + 2px); border-collapse: collapse;  margin: 0 -1px; }
.table_info thead th { color: var(--txt-color); font-weight: 700;}
.table_info th, .table_info td {  padding: 15px 20px; ;text-align: center; border: 1px solid  var(--line-color-gray);  color: var(--txt-color); font-size: 14px; font-weight: 500;}
.table_info th.align_top { vertical-align: top;}
.table_info td.align_left { text-align: left;} 

.table_info + .table_info { margin-top: 40px;}
/* .table.txt_b th,
.table.txt_b td {color: var(--txt-color)}
.table.txt_b th {font-weight: 500} */
.table_info .no_data { padding: 30px 0;}
.modal .table_info .no_data { padding: 15px 0;}

.table_info .list_style.sub li + li { margin-top: 8px;}

.table_info th.font_13,
.table_info td.font_13 { font-size: 13px;}

.table_info.no_line th, .table_info.no_line td { padding: 20px 10px; border-left: 0; border-right: 0;}
.table_info.no_line td { color: var(--txt-color-gray)}

.table_info.gray_table td { color: var(--txt-color-gray) }


.tbl-size-info.scroll {width: 100%; overflow: auto; }

.tbl-size-info table{ table-layout: fixed; border-top: 1px solid var(--line-color); border-bottom: 1px solid var(--line-color-gray);  margin-bottom:20px; font-size: 14px; text-align: center;color: var(--txt-color-gray);}
.tbl-size-info tr:first-child th,
.tbl-size-info tr:first-child td { font-weight: 700; color: var(--txt-color);}
.tbl-size-info th      {width:155px; font-weight: 300; border-width: 1px 0 0 1px; border-style: solid; border-color: var(--line-color-gray); padding: 15px 0;}
.tbl-size-info td      {width:100px; text-align: center; border-width: 1px 0 0 1px; border-style: solid; border-color: var(--line-color-gray); padding: 15px 0;}
.tbl-size-info th:first-child      {border-left:0;}
