@charset 'utf-8';

/* Tab */
.tab_style1, .tab_style2, 
.tab_style3, .tab_style4, .tab_style6 {display:flex; align-items:center; flex-wrap:nowrap;  overflow-x:auto; overflow-y:hidden;}

.tab_style5 {display:flex; flex-wrap:nowrap; overflow-x:auto; overflow-y:hidden; width: 100%; }

.tab_cont_box .tab_cont { display: none; }
.tab_cont_box .tab_cont.is_active { display: block; width:100%;}
.tab_cont_box .tab_cont .tab_cont_inner { padding:20px 0}

.tab_content { padding-top: 60px;}

.tab_style1 {position:relative;  padding: 0 30px; box-shadow: 0px -1px 0px 0px var(--line-color-gray) inset; }
.tab_style1 .tab_btn {flex:none; position:relative; width:auto; height:inherit; margin-right:24px; padding:19px 0; font-size:14px; color:var(--tab-txt-color); }
.tab_style1 .tab_btn:last-child { margin: 0;}
.tab_style1 .tab_btn.is_active { color: var(--txt-color); font-weight: 700; }
.tab_style1 .tab_btn.is_active:after {content:''; position:absolute; z-index: 2; bottom: 0px; left: 0; width: 100%; height:2px; background-color:var(--bg-color-black);}


/* tab_style2 사용전 - 작업 시 수정해서 사용해주세요 */
.tab_style2 {position:relative; height:57px; padding:0 0 0 20px; box-shadow: 0px -2px 0px 0px var(--line-color-gray) inset;}
.tab_style2.full { margin-left: -20px; margin-right: -20px; }
.tab_style2 .tab_btn {flex:none; position:relative; width:auto; height:inherit; margin-right:30px; padding:0 0 2px; font-size:14px;}
.tab_style2 .tab_btn:last-child {padding-right:20px; margin:0}
.tab_style2 .tab_btn.is_active { color: var(--txt-color); font-weight: 700; }
.tab_style2 .tab_btn.is_active:after {content:''; position:absolute; z-index: 2; bottom: 0px; left: 0; width: 100%; height:2px; background-color:var(--line-color);}
.tab_style2 .tab_btn:last-child.is_active:after { width: calc(100% - 20px);}
.tab_style2 a.tab_btn {line-height: 57px; display: block}
.tab_style3 {justify-content: space-around; height: 57px; flex: 0 0 57px;}
.tab_style3 .tab_btn {display: inline-flex; align-items: center; width: 100%; height: 100%; border: none; border-bottom: 1px solid var(--line-color-gray); outline: none; background-color: inherit; justify-content: center; font-size: 18px; }
.tab_style3 .tab_btn.is_active {border-bottom: 2px solid var(--line-color); font-weight: bold;}



.tab_anchor {display:flex; align-items:center; flex-wrap:nowrap; justify-content: center; box-sizing: content-box; }
.tab_anchor {position:relative; height:57px; padding:0 0 0 20px; }
.scroll_up .tab_anchor,
.scroll_down .tab_anchor {border-bottom:1px solid #f2f2f2}
.tab_anchor.full { }
.tab_anchor .tab_btn {flex:none; position:relative; width:auto; height:inherit; margin-right:30px; margin-bottom:-1px; padding:0 0 2px; font-size:14px;}
.tab_anchor .tab_btn:last-child {padding-right:20px; margin:0}
.tab_anchor .tab_btn.is_active { color: var(--txt-color); font-weight: 700; }
.tab_anchor .tab_btn.is_active:after {content:''; position:absolute; z-index: 2; bottom: 0px; left: 0; width: 100%; height:2px; background-color:var(--line-color);}
/* .tab_anchor .tab_btn:last-child.is_active:after { width: calc(100% - 20px);} */
.tab_anchor a.tab_btn {line-height: 57px; display: block}

.twoway_full_area ~ .ui_tab_cont_anchor{margin-top:120px}
.ui_tab_cont_anchor{position:relative;border-top:1px solid #f2f2f2}
.ui_tab_cont_anchor .center_type     {padding:120px 0 0; margin-top:0; }


.lookbook_main .tab_style3 .tab_btn{font-size:14px}
.lookbook_sub .tab_style3 .tab_btn{border-bottom:1px solid var(--line-color-gray); font-weight: bold;}
.lookbook_sub .tab_style3 .tab_btn.is_active {border-bottom:1px solid var(--line-color-gray); font-weight: bold;}

/* tab_style4 사용전 - 작업 시 수정해서 사용해주세요 */
.sticky.on .tab_style4 { margin: 0 -3px; }
.tab_style4 { margin: 0 -23px; padding: 20px; border-bottom: 1px solid var(--line-color-gray) }
.tab_style4 .tab_btn { height: 36px; margin: 0 3px; padding: 0 15px; background: rgba(0,0,0,0.04); border-radius: 18px; white-space: nowrap; color: var(--txt-color-gray); font-weight: 500;}
.tab_style4 .tab_btn.is_active { background: var(--bg-color-black); color: var(--txt-color-white); font-weight: 700;}


.tab_style5 {  column-gap: 10px;}
.tab_style5 .tab_btn {flex:none; position:relative; width:auto; border-radius:20px; height:40px; padding: 0 20px; background-color:var(--bg-color-black04); font-size:14px; color:var(--txt-color-gray); text-transform: uppercase; }
.tab_style5 .tab_btn.is_active {background-color:var(--bg-color-black); color:var(--txt-color-white); font-weight:700}

/* tab_style6 수정함 - kso */
.tab_style6 { height:100%; padding:0; position:relative; margin-right:0}
.tab_style6 .tab_btn {flex:none; position:relative; width:calc(10% - 30px); margin-left:30px}
.tab_style6 .tab_btn .thumb{ position: relative; margin-bottom: 0; overflow:hidden; padding-bottom:100%;}
.tab_style6 .tab_btn .thumb figure{ border-radius: 50%; overflow: hidden; border:2px solid var(--bg-color-white); padding:3px; position:absolute;
top:0; left:0; width:100%; height:100%}
.tab_style6 .tab_btn .thumb figure img{ width: 100%; height: 100%; object-fit: cover;}
.tab_style6 .tab_btn em{ text-align: center; font-size:14px; font-weight:500; line-height:1.2; letter-spacing:-0.1px; color:var(--txt-color-gray); text-overflow: ellipsis; display:block; overflow:hidden; margin-top:10px; white-space: nowrap; text-transform: uppercase;}
.tab_style6 .tab_btn.is_active figure,
.tab_style6 .tab_btn:focus figure{border:2px solid var(--line-color-black); background:var(--bg-color-white)}
.tab_style6 .tab_btn.is_active em,
.tab_style6 .tab_btn:focus em{ color:var(--txt-color); }

/*사이즈 수정 2023-03-09*/
.tab_style7 { display: inline-flex; border: 1px solid var(--line-color-gray01); border-radius: 3px; }
.tab_style7 .tab_btn { position: relative; width: 56px; height: 38px; color: #ccc}
.tab_style7 .tab_btn.is_active { color: var(--txt-color); font-weight: 700;}
.tab_style7 .tab_btn + .tab_btn::before { content: ''; position: absolute;  left: 0; margin-top:1px; display: block; width: 1px; height: calc(100% - 20px); background-color: var(--line-color-gray01);}
.search_brand_wrap .tab_style7 .tab_btn {width: 54px; height:36px; }

/*
.tab_style7 { display: inline-flex; border: 1px solid var(--line-color-gray01); border-radius: 3px; }
.tab_style7 .tab_btn { position: relative; width: 100px; height: 48px; color: var(--txt-color-gray)}
.tab_style7 .tab_btn.is_active { color: var(--txt-color); font-weight: 700;}
.tab_style7 .tab_btn + .tab_btn::before { content: ''; position: absolute;  left: 0; display: block; width: 1px; height: calc(100% - 30px); background-color: var(--line-color-gray01);}
*/

.tab_brand_wrap > div > div:nth-child(2) .all button {margin:0 30px 0 0;}
.tab_brand_wrap > div > div:nth-child(2) button {margin:0 10px 0 0; color:var(--txt-color-gray)}
.tab_wrap1 {margin-top:60px; display:flex; justify-content: center;}
.tab_wrap1 .tab_style {display:flex;}
.tab_wrap1 .tab_style button {width:38px; height:38px; margin:0 10px 2px 0; border:1px solid var(--line-color-gray01); border-radius:3px; background-color: var(--bg-color-white); text-align: center;}
.tab_wrap1 .tab_style button:last-child {width:48px; margin-right:0;}
.tab_wrap1 .tab_style button:focus,
.tab_wrap1 .tab_style button:active,
.tab_wrap1 .tab_style button.is_active {background-color:var(--bg-color-black); border-color:var(--line-color); color:var(--txt-color-white);}
.tab_wrap1 .tab_style button:disabled {background-color:var(--bg-color-gray02); border-color:var(--line-color-gray01); color:var(--txt-color-gray01);}
.tab_wrap1 .tab_style .all{font-size:0}
.tab_wrap1 .tab_style .all + div {font-size:0}
.tab_wrap1 .tab_style .all button {width:70px; padding:0; margin:0 30px 10px 0; color: var(--txt-color-gray02);}
.tab_wrap1 .tab_style .all button:focus,
.tab_wrap1 .tab_style .all button:active,
.tab_wrap1 .tab_style .all button.is_active {color:var(--txt-color); background-color: var(--bg-color-white); border-color: var(--line-color-gray01);} 
.search_brand_wrap.tab_wrap1{margin-top:0}
.search_brand_wrap.tab_wrap1 .tab_style div {font-size:0; margin-left:10px}
.search_brand_wrap.tab_wrap1 button {margin-right:2px}



.favorite_wrap {display: flex; flex-wrap: wrap; align-items: center; margin-top: 10px;}
.favorite_wrap .button_toggle,
.favorite_wrap .button_review,
.favorite_wrap .button_comment {height: 18px; padding: 0 10px 0 25px; border: none; font-size: 14px; font-weight: 500; color: var(--txt-color-gray); line-height: 18px; background-repeat: no-repeat; background-position: 0 center; }
.favorite_wrap .button_toggle.equal {background-image:url('../../images/uiux/icon/ico_pro_equal_s.png'); background-size: 20px 20px;}
.favorite_wrap .button_toggle.equal.is_active {background-image:url('../../images/uiux/icon/ico_pro_equal_s_on.png');}
.favorite_wrap .button_review {background-image:url('../../images/uiux/icon/ico_review.png'); background-size: 20px 20px;}
.favorite_wrap .button_review span + span {margin-left: 5px;}
.product_info .favorite_wrap .button_review {padding-right: 0;}

.hashtag {margin: 0 0 0 0; border: 1px solid var(--line-color-gray01);  border-radius: 15px; padding: 0 10px; font-size: 13px; color: var(--txt-color-gray); height: 30px; line-height: 28px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.pagination {display: flex; height:32px; border: 1px solid  var(--line-color-gray01); border-radius: 2px;}
.pagination a {position: static; text-indent: -9999px; margin: 0; min-width: 30px; width: 30px; height: 30px; }
.pagination a:after {font-size:13px; text-indent: 0; margin: 0}
.pagination a + a {border-left: 1px solid var(--line-color-gray01);}

/* 기본 뱃지 폰트 13 상품리스트 안에 뱃지만 12 */
.badge_wrap {display: inline-flex; flex-wrap: wrap;}
.badge_wrap [class^='badge'] {display: inline-flex; justify-content: center; font-size: 12px; color: var(--txt-color-white); background-color: var(--bg-color-black); padding: 0 9px; white-space: nowrap; height:26px; line-height:26px; font-weight:400}
.badge_wrap [class^='badge'].orange {background-color:var(--bg-color-point); color:var(--txt-color); font-weight:500}

.badge_wrap [class^='badge_m'] { height: 24px; padding: 0px 8px; font-size: 14px; line-height: 22px;} 
.badge_wrap .gray_line { background: var(--bg-color-white); border: 1px solid var(--line-color-gray01); color: var(--txt-color-gray03)}

/* .badge_wrap [class^='badge_s'] { min-width: 25px; height: 18px; padding: 1px 6px 1px; font-size: 9px; line-height: 18px;} */
.badge_wrap .bg_gray,
.badge_wrap .soldout,
.is_soldout .badge_wrap .soldout {background-color: var(--bg-color-gray03); color: var(--txt-color-white);}
.badge_wrap [class^='badge']:not([style^="display:none"]) + [class^='badge'] {border-left: 1px solid var(--line-color-white);}
[class^='product_'] .badge_wrap [class^='badge'] {font-size: 12px; height:26px; line-height:26px; }

.product_list_evt .badge_wrap [class^='badge'],
.product_list_raffle .badge_wrap [class^='badge'],
.product_list_evt.badge_s .badge_wrap [class^='badge'] {font-size: 12px; height:26px; line-height:26px; }


.badge_wrap.medium [class^='badge'] {height:26px; line-height:26px; font-size: 12px;}

.badge_wrap .row{ display:flex;}
.badge_wrap .row + .row{ margin-top:-1px}


.badge_auto_list {display: flex; flex-wrap: wrap; margin: 11px 1px 0 0; padding-bottom:1px}
p.badge_auto_list {max-height:60px; overflow: hidden;}
p.badge_auto_list .hashtag {vertical-align: top;}
.badge_auto_list li {margin: 0 -1px -1px 0; padding: 4px 6px 2px 6px; border: 1px solid var(--line-color-gray03); font-size: 10px; color: var(--txt-color-gray03); text-transform: uppercase; font-weight: 400; line-height:1.2}

/* button */
.btn_sub_s {font-size: 12px; color: var(--txt-color-white); background-color: var(--btn-fill-black); height: 22px; line-height: 22px; border-radius: 2px; padding: 0 10px;}
.btn_sub_s:disabled {background-color: #f2f2f2; border: 1px solid #ccc; color: #b1b1b1}
.btn_sub_s.gray {background-color: var(--btn-fill-gray);}

.btn_sub_s2 { color: var(--txt-color-white); background-color: rgba(0,0,0,0.4); height: 40px; border-radius: 3px; padding: 0 20px;}
.btn_sub_s2:disabled {background-color: #f2f2f2; border: 1px solid #ccc; color: #b1b1b1}

.button_equal {cursor:pointer; clip: rect(0, 24px, 24px, 0); overflow: hidden; white-space: nowrap; width: 24px; min-width: 24px; height: 24px;}
.button_equal:before {content:''; display: block; background: url('../../images/uiux/icon/ico_equal_24.png') no-repeat; width: 24px; height: 24px;}
.button_equal.is_active:before {background: url('../../images/uiux/icon/ico_equal_24_on.png');}


.btn_sub_m {font-size: 13px; color: var(--txt-color-white); background-color: var(--btn-fill-black); min-width:105px; height: 38px; border-radius: 3px; padding: 0 30px; line-height: 38px; text-align:center;}
.btn_sub_m.full { width: 100%;}
/* .btn_sub_m.filter {min-width:73px; border:1px solid var(--btn-line-gray); color:var(--txt-color); background-color:var(--bg-color-white);}
.btn_sub_m.filter.is_active {border-color: var(--btn-line-black);}
.btn_sub_m.filter.is_active:after {content:''; display:inline-block; width:10px; height:10px; background:url('../../images/uiux/icon/ico_filter.png') no-repeat; background-size:10px 10px; margin-left:5px;}
.btn_sub_m:disabled {background-color: var(--btn-disabled);} */
.btn_sub_m.white {border:1px solid var(--btn-line-black); color:var(--txt-color); background-color:var(--bg-color-white);}
.btn_sub_m.small {min-width:60px; }

.button_icon {background-repeat: no-repeat; border: 0; padding: 0; text-indent: -9999em; background: none;}
.button_like {background-image: url('../../images/uiux/icon/ico_like_nor.png'); background-size: 18px 18px; width: 18px; height: 18px;}
.button_like.is_active{background-image: url("../../images/uiux/icon/ico_like_nor_active.png");;}
.button_comment {background-image:url('../../images/uiux/icon/ico_comment_nor.png'); background-size: 18px 18px; width: 18px; height: 18px;}
.button_comment.is_active{background-image: url("../../images/uiux/icon/ico_comment_nor_active.png");;}


.btn_fixed {position:fixed; z-index: 100; bottom:0; left:0; right:0; background-color: var(--bg-color-white);}
.btn_big_wrap {padding: 30px 0; display:flex; width:100%; }
.btn_big_wrap.mt60 { margin-top: 60px;}
.btn_big_wrap:last-child {padding-bottom: 0;}
.btn_big_wrap button,
.btn_big_wrap a,
.btn_big_wrap label {flex:1 1 100%;color:var(--txt-color-white); font-size:16px; background-color: var(--btn-fill-black); height: 52px; line-height: 50px; text-align: center; border-radius: 3px;}
.btn_big_wrap button:focus {opacity:0.9;}
.btn_big_wrap button:disabled {background-color: #ccc;  color: #fff}

.btn_big_wrap.txt_s button { height: 48px; line-height: 48px; font-size: 14px;}
.btn_big_wrap.txt_s button.white:disabled { background-color: #fff;}

.btn_big_wrap button + button {margin-left:10px;}
.login_wrap .btn_big_wrap button {min-width:315px;}

.btn_big_wrap .white {background-color: var(--bg-color-white); border:1px solid var(--btn-line-black); color:var(--txt-color)}
.btn_big_wrap .disabled {background-color: #ccc;  color: #fff}
.btn_big_wrap .ico_gift:before {content:''; display:inline-block; vertical-align:middle; width:26px; height:26px; margin:-4px 0 0 6px; background:url('../../images/uiux/icon/ico_gift_white.png') no-repeat; background-size:26px 26px;}
.btn_big_wrap.gift button:first-child {border:1px solid var(--btn-line-black); width:58px; background: var(--bg-color-white);}
.btn_big_wrap.gift button:first-child:before {content:''; display:block; width:26px; height:26px; margin:0 auto; background:url('../../images/uiux/icon/ico_gift.png') no-repeat; background-size:26px 26px;}
.btn_big_wrap.gift button:last-child {width:calc(100% - 58px);}
.btn_big_wrap.gift button { flex: auto; }
.btn_big_wrap .ico_kakao:before {content:''; display:inline-block; vertical-align:-5px; width:20px; height:20px; margin:-4px 5px 0 6px; background:url('../../images/uiux/icon/ico_kakao_w_20.png') no-repeat; background-size:20px 20px;}


.btn_big_wrap.medium button,
.btn_big_wrap.medium a,
.btn_big_wrap.medium label { height: 38px; font-size: 13px; line-height: 38px; font-weight: 500;}

/* 폼 버튼 */
button.btn, a.btn { padding: 0 30px; color:var(--txt-color-white); font-size:14px; background-color: var(--btn-fill-black); height: 48px; line-height: 48px; border-radius: 3px; flex-shrink: 0;}
button.full, a.full, 
.button_set.full button, .button_set.full a { flex: 0 0 100%; width: 100%;}
button.xs, a.xs,
.button_set.xs button, .button_set.xs a { flex: 0 0 85px; padding: 0; text-align: center;}
button.sm, a.sm,
.button_set.sm button, .button_set.sm a  { flex: 0 0 120px; padding: 0; text-align: center;}
button.md, a.sm2,
.button_set.sm2 button, .button_set.sm2 a  { flex: 0 0 140px; padding: 0; text-align: center;}
button.md, a.md,
.button_set.md button, .button_set.md a  { flex: 0 0 180px; padding: 0; text-align: center;}
button.lg, a.lg,
.button_set.lg button, .button_set.lg a { flex: 0 0 200px; padding: 0; text-align: center;}
button.xl, a.xl,
.button_set.xl button, .button_set.xl a { flex: 0 0 300px; padding: 0; text-align: center;}

button.btn_w, a.btn_w {padding: 0 56px}
button.btn_mw, a.btn_mw {padding: 0 46px}
button.btn.medium, a.btn.medium {height: 38px; line-height: 38px; font-size: 13px;}

/* .modal_content button.btn,
.modal_content a.btn { height: 48px; border-radius: 2px;} */
.button_set { display: flex; justify-content: center; margin-top: 60px;}
.buy_detail .button_set > * + * { margin-left: 0px;}
.button_set > * + * { margin-left: 10px;}

.button_set button, .button_set a { display: flex; align-items: center; justify-content: center;}
.button_set.column {flex-direction: column;}

/* button.md, a.md { flex: 0 0 130px;} */

/* 단일 버튼 */
button.white, a.white {background-color: var(--bg-color-white); border:1px solid var(--btn-line-black); color:var(--txt-color)}
button.white:disabled, a.white:disabled, label.white:disabled {background-color: #f2f2f2; border: 1px solid #ccc; color: #b1b1b1}
button.disabled, a.disabled, label.disabled {background-color: #ccc; border-color:#ccc; color: #fff}
button.gray, a.gray, label.gray {background-color:#000; opacity:0.4}
button.gray_line, a.gray_line, label.gray_line  {border:1px solid var(--line-color-gray01); background: var(--bg-color-white); color: var(--txt-color)}


.container .btn_big_wrap {  padding: 0;}

[class^="btn_sub_full"] button {display:block;  width: 100%; border: 1px solid var(--btn-line-black); height: 52px; border-radius: 3px; background-color: var(--bg-color-white); padding: 10px 0; font-size: 16px; }
[class^="btn_sub_full"] button.line { color: var(--txt-color-gray01); border: 1px solid var(--line-color-gray01) }
[class^="btn_sub_full"] button.black { color: var(--txt-color-white); background: var(--bg-color-black); border: 1px solid var(--bg-color-black) }
[class^="btn_sub_full"] button.black:disabled {background-color: #ccc; border:1px solid #ccc;  color: #fff}
[class^="btn_sub_full"] button.gray { color: var(--txt-color-white); background: var(--bg-color-gray); border: 1px solid var(--bg-color-gray) }

.order_block  [class^="btn_sub_full"] button {font-size: 14px; }

/* .btn_sub_m {font-size: 14px; color: var(--txt-color-white); background-color: var(--btn-fill-black); min-width:160px; height: 38px; border-radius: 2px; padding: 0 10px; text-align:center;} */
/* .btn_sub_m.filter {min-width:73px; border:1px solid var(--btn-line-gray); color:var(--txt-color); background-color:var(--bg-color-white);}
.btn_sub_m.filter.is_active {border-color: var(--btn-line-black);}
.btn_sub_m.filter.is_active:after {content:''; display:inline-block; width:10px; height:10px; background:url('../../images/uiux/icon/ico_filter.png') no-repeat; background-size:10px 10px; margin-left:5px;}
.btn_sub_m:disabled {background-color: var(--btn-disabled);} */
/* .btn_sub_m.white {border:1px solid var(--btn-line-black); color:var(--txt-color); background-color:var(--bg-color-white);} */

.btn_sub_l {display:inline-flex; font-size: 16px; color: var(--txt-color-white); background-color: var(--btn-fill-black); min-width:260px; height: 52px; border-radius: 3px;}
.btn_sub_l button { display: flex; align-items: center; padding: 0 100px; font-size:16px }
.btn_sub_l button:after {content:''; display: inline-block; margin-left:5px; width: 12px; height: 6px; background-image: url('../../images/uiux/icon/ico_arrow_down.png'); background-size: 12px 6px; background-repeat: no-repeat; background-position: 50% 50%;}
.btn_sub_l.white {border:1px solid var(--btn-line-black); color:var(--txt-color); background-color:var(--bg-color-white);}

.btn_sub_l.rotate90 button { font-size:16px; padding:0; min-width:297px; justify-content: center;}
.btn_sub_l.rotate90 button:after {transform:rotate(-90deg)}


[class^='btn_text_line'] { text-decoration:underline; color:var(--btn-txt-black);}
[class^='btn_text_line'].gray {color:var(--btn-txt-gray);}
/* [class^='btn_text_line'].gray01 {color:var(--btn-txt-gray01);}   */
[class^='btn_text_line'].align_right { display: flex; justify-content: flex-end;}
/* [class^='btn_text_line'].bottom_type { display: flex; justify-content: center; padding: 15px 0 25px} */
[class^='btn_text_line'].mt20 { margin-top: 20px;}
.btn_text_line_s {font-weight: 400; margin-top: 5px;}

.btn_wrap {display: flex}
.btn_type_n {display: block; color: var(--txt-color); font-weight: 500; height: 40px; line-height: 38px; padding: 0 40px; border: 1px solid var(--line-color); border-radius: 3px;}
.btn_type_n.black {color: var(--txt-color-white);background-color: var(--bg-color-black);}
.btn_type_n + .btn_type_n {margin-left: 10px}

.section_top_btn { padding-bottom: 60px; }
.btn_round_box { display: flex; flex-wrap: wrap; margin: -5px; padding-top: 20px; font-size: 28px; }
.btn_round_box .btn_round { margin: 5px; }
.btn_round { position: relative; display: flex; align-items: center; justify-content: center; height: 80px; padding: 10px; border-radius: 40px; border: 1px solid var(--line-color-gray01); }
/* .btn_round.is_active { background: var(--bg-color-black); border: 1px solid var(--line-color); }
.btn_round.is_active .txt { color: var(--txt-color-white)} */
.btn_round .img { position: absolute; top: 10px; left: 10px; width: 60px; height: 60px; border-radius: 50%; overflow: hidden; background:url(../../images/uiux/common/no_thum.png) no-repeat 50% 50% / 200% }
.btn_round .txt { padding: 0 10px 0 70px; color: var(--txt-color); font-weight: 500;}
.btn_round .img img {width: 100%; height: 100%; object-fit: cover;}


.btn_select { display: flex; align-items: center; height: 48px; padding: 0 15px; border: 1px solid var(--line-color-gray01); border-radius: 3px;}
.btn_select::after { content: ''; display: block; width: 18px; height: 18px; margin-left: 30px; background: var(--bg-color-white) url('../../images/uiux/icon/ico_plus_s.png') no-repeat right 0px top 50%; background-size: 18px 18px; }
.btn_select.is_active::after { background-image: url('../../images/uiux/icon/ico_minus_s.png') }

.btn_reset { display: flex; align-items: center; height: 48px; padding: 0 15px; border: 1px solid var(--line-color-gray01); border-radius: 3px;}
.btn_reset::after { content: ''; display: block; width: 18px; height: 18px; background: var(--bg-color-white) url('../../images/uiux/icon/ico_reset.png') no-repeat right 0px top 50%; background-size: 18px 18px; }

/* 별점 */
.prd_rating {display: flex; align-items: center;}
.prd_star {display: flex;}
.favorite_star {display: block; width: 20px; height: 20px; background: url('../../images/uiux/icon/ico_star_20.png') no-repeat;}
.favorite_star.checked {background-image: url('../../images/uiux/icon/ico_star_20_on.png');}
.prd_score {margin-left:10px; color: var(--txt-color-gray01); font-size: 13px;}


.modal_footer.btn_popup_full button {width: 100%; height: 56px; font-size: 16px; font-weight: 500; color: var(--txt-color-white); background-color: var(--bg-color-black);}
.modal_footer.btn_popup_full button.white { color: var(--txt-color); background-color: var(--bg-color-white); border-color: transparent; border-top: 1px solid var(--line-color-gray01);}
.modal_footer.btn_popup_full button:disabled { background-color: #ccc;  color: #fff}
.modal_footer.btn_popup_full button.white:disabled { background-color: #f2f2f2;  color: #b1b1b1}

.modal_footer.btn_popup_half button {width: 50%; height: 56px; font-size: 16px; font-weight: 500; color: var(--txt-color-white); background-color: var(--bg-color-black);}
.modal_footer.btn_popup_half button.white { color: var(--txt-color); background-color: var(--bg-color-white); border-color: transparent; border-top: 1px solid var(--line-color-gray01);}
.modal_footer.btn_popup_half button:disabled { background-color: #ccc;  color: #fff}
.modal_footer.btn_popup_half button.white:disabled { background-color: #f2f2f2;  color: #b1b1b1}

.tab_cont {display: none;}
.tab_cont.is_active {display: block}

.toggle_text_type1 {margin-top:40px; } 
.toggle_text_type1 button {margin-top:10px; height:24px; color:var(--txt-color-gray);} 
.toggle_text_type1 button:focus {border-color: transparent !important; } 
.toggle_text_type1 button:after { content:''; display: inline-block; vertical-align:middle; margin-left:6px; width:5px; height:5px; border-top:1px solid var(--line-color-gray02); border-right:1px solid var(--line-color-gray02); transition: transform .2s ease-out; } 
.toggle_text_type1 button.open:after { margin-top:-5px; transform:rotate(135deg); } 
.toggle_text_type1 button.close:after { transform:rotate(315deg); } 
.toggle_text_type1 .toggle_content {font-size:16px; line-height:20px; overflow: hidden; } 
.toggle_text_type1 .show_more {height:40px; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 

.toggle_text_type1 ~ .tit_area {margin-top:60px;}

/* title */
.tit_brand {padding:60px 0 30px; font-size:28px;}

.prd_title_wrap {position: relative;}
.prd_title_wrap .favorite {position: absolute; top: 0; right: 0; display: flex; align-content: flex-end; flex-wrap: wrap; align-items: center; flex-direction: column;}
.prd_title_wrap.brand .favorite {top: -14px;}
.prd_title_wrap.brand .favorite .button_equal {width:30px; height:30px;}
.prd_title_wrap.brand .favorite .button_equal:before {width:30px; height:30px; background-size:30px 30px; background-image:url('../../images/uiux/icon/ico_list_equal_s.png') ;}
.prd_title_wrap.brand .favorite .button_equal.is_active:before {background-image:url('../../images/uiux/icon/ico_list_equal_s_on.png') ;}
.prd_title_wrap.brand .favorite span{ font-size:12px}
.prd_title_wrap .prd_title {font-size: 24px; line-height: 1.42; padding-right: 70px}
.prd_title_wrap.brand .prd_title {padding:0 70px 0 0}
.prd_title_wrap .prd_title a {display: block; font-size: 16px; font-weight: 500; padding-bottom: 10px}
.prd_title_wrap .prd_title p {font-weight: 400;}
.prd_title_wrap .prd_title p.line_2 {line-height:34px; max-height:63px; }
.prd_title_wrap.brand{display:flex;align-items:center}
.prd_title_wrap.brand .img_box{width:90px;height:90px;margin-right:20px;padding-bottom:0;border-radius:50%;}

.lookbook_brand .favorite {position: absolute; top: 45px; right: 0; display: flex; align-content: flex-end; flex-wrap: wrap; align-items: center; flex-direction: column; z-index:10; }
.lookbook_brand .favorite .button_equal {width:30px; height:30px;}
.lookbook_brand .favorite .button_equal:before {width:30px; height:30px; background-size:30px 30px; background-image:url('../../images/uiux/icon/ico_list_equal_s.png') ;}
.lookbook_brand .favorite .button_equal.is_active:before {background-image:url('../../images/uiux/icon/ico_list_equal_s_on.png') ;}
.lookbook_brand .favorite span{ font-size:12px}

.lookbook_brand .prd_title_wrap .prd_title a {font-size:18px}
.lookbook_brand .prd_title_wrap .prd_title p {font-size:28px; font-weight:500}
.lookbook_brand .prd_title_wrap + .badge_auto_list  {margin-top:20px}

/* brand list wrap */
.brand_list_wrap {display:flex; row-gap: 24px; flex-wrap: wrap;}
.brand_list_wrap > li {width:calc(100%/3 - 60px); margin-right:90px;}
.brand_list_wrap > li:nth-child(3n) {margin-right:0;}
.brand_list_wrap .brand_list {justify-content: space-between; align-items: flex-start;}
.brand_list_wrap .button_equal {margin-top:18px;}

/* style_tag */
.style_tag {display:flex;}
.style_tag li {font-size:12px; color:var(--txt-color-gray); font-weight:400;} 
.style_tag li:after {content:''; display:inline-block; vertical-align:middle; width:4px; height:4px; background-color:var(--bg-color-gray05); margin:-2px 8px 0;}
.style_tag li:last-child:after {display:none;}
.style_tag + .prd_title {margin:20px 0;}


.lookbook_brand .style_tag {margin-bottom:30px}

/* 윤 */
.btn_listdel {display: block; width: 20px; height: 20px; background: url('../../images/uiux/icon/ico_delete_20.png') no-repeat center; clip: rect(0, 20px, 20px, 0); overflow: hidden; white-space: nowrap; text-indent: -9999px;}
.go_link {text-decoration: underline;}

/* 더보기 버튼 */
.modal .more_wrap { margin-top: 40px;}
.more_wrap.mt60 { margin-top: 60px;}
.more_wrap .btn_sub_full button::after,
.btn_sub_full button.more::after {content: ''; display: inline-block; width: 12px; height: 6px; background: url('../../images/uiux/icon/ico_arrow_open.png') no-repeat 0 0; vertical-align: middle; margin: -2px 0 0 5px; }
.more_wrap .more_close button::after,
.btn_sub_full button.hide::after {background: url('../../images/uiux/icon/ico_arrow_close.png');}

/* 구매하기 */
.btn_buy_wrap {width: 100%; height: 40px;}
.btn_buy_wrap a {display: block; border: 1px solid var(--line-color-gray01); border-radius: 3px; width: 100%; height: 40px; line-height: 38px; text-align: center;}

/* 버튼 사이즈 고정 */
.btn_size_fix {justify-content: center;}
 
/* .btn_size_fix button, 
.btn_size_fix a {display: block; width: 200px; flex: none;} */
.btn_size_fix button, 
.btn_size_fix a { width: 200px; flex: 0 0 200px;}

.btn_size_fix.size_300 button, 
.btn_size_fix.size_300 a { width: 300px; flex: 0 0 300px;}
.btn_size_fix.size_240 button, 
.btn_size_fix.size_240 a { width: 240px; flex: 0 0 240px;}
.btn_size_fix.auto button, 
.btn_size_fix.auto a { width: auto; flex: 0 0 auto; padding:0 60px; }


.center_type3 .btn_size_fix { margin-top: 60px;}

.btn_delete{position:absolute;right:0px;top:0px;width:27px;height:27px;background:url('../../images/uiux/icon/ico_delete_dg.png') no-repeat center/15px 15px}