@charset 'utf-8';

.prd_left_area {position:relative; padding-left: 70px;}
.prd_left_area .thumb_list {position: absolute; top: 20px; left: 0;}
.prd_left_area .thumb_list .img_box {margin-bottom: 2px; width: 50px; height: 67px; padding-bottom: 134%;}
.prd_left_area .thumb_list .is_active:after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: 0 0 0 1px var(--line-color) inset;}
.prd_left_area .thumb_list .img_box {position:relative; margin-bottom: 2px; width: 50px; height: 67px; padding-bottom: 134%;}
.prd_left_area .thumb_list .img_box img {position: relative; }
.prd_left_area .thumb_list .is_active::before {content:""; z-index:2; position:absolute; box-sizing: border-box; width:100%; height:100%; border:1px solid var(--line-color); }

.prdimg_area {position: relative; width: 728px; height: 970px; margin-bottom: 80px;}
.prdimg_area .img_box { padding-bottom: 133%;}
.prdimg_area .badge_wrap {position: absolute; top: 0; left: 0;}
.prdimg_area .btn_sub_s2 {position: absolute; bottom: 30px; right: 30px;}
.prdimg_area .badge_wrap [class^='badge'] {font-size: 13px; height:30px; line-height:30px;}

.location_path {margin-bottom: 30px;}
.location_path a {font-size: 13px; font-weight:400;}
.location_path a::after {content:''; display:inline-block; width:6px; height:10px; background: url('../../images/uiux/icon/ico_arrow.png') 0 0 no-repeat; margin: 0 10px;}
.location_path a:last-child:after {display: none;}

.prd_right_area {position: relative;}
.prd_right_area .price_wrap { position: relative; margin-top: 30px;}
.prd_right_area .price_wrap + .price_wrap {margin-top: 10px;}
.prd_right_area .price_wrap .btn_sub_s {margin-bottom: 5px;}
.prd_right_area .price_wrap .type2 {display: flex; align-items: center;}
.prd_right_area .price_wrap .txt {font-size: 13px; color: var(--txt-color-gray01); margin: 0 0 0 10px;}
.prd_right_area .price_wrap .btn_sub_s {position:absolute; right:0; top:5px;}
.prd_right_area .price_wrap .info_area.type1 + .btn_sub_s { top:21px; }
.prd_right_area .price_wrap .info_area.type1.type3 + .btn_sub_s { top:4px; }
.prd_right_area .price_wrap .info_area + .info_area.type2 + .btn_sub_s { top:21px; }
.prd_right_area .price_wrap .info_area + .info_area.type2 {margin-top:10px; }
.prd_right_area .badge_auto_list,
.prd_right_area .prd_rating {margin-top: 30px}

/* accordion */
.prd_right_area .prd_rating + .accordion {border: none; margin-top: 31px;}
.prd_left_area .prdimg_area + .accordion {border: none; margin-top: -30px;}
.prd_left_area .prdimg_area + .accordion .editor_content img{max-width:100%}
.prd_left_area .content_scroll  + .accordion {border: none; margin-top: 70px;}
.prd_right_area .accordion + .purchase_area {padding-top: 30px;}

.accordion {width: 100%; border-top: 1px solid var(--line-color-gray);}
.accordion .acc_header, 
.accordion .acc_cont { position:relative; display:flex; } 
.accordion .acc_header {justify-content: space-between; align-items: center; font-size: 18px; font-weight: 600; padding: 30px 26px 30px 0; background-image: url('../../images/uiux/icon/ico_plus.png'); background-repeat: no-repeat; background-position: 100% center;}
.accordion.unfold .acc_header {padding: 30px 0px 30px 0; background:none;}
.accordion .acc_header.is_active {background-image: url('../../images/uiux/icon/ico_minus.png');}
.accordion .acc_header .price_wrap {margin: 0;}
.accordion .acc_header .price_wrap .discount,
.accordion .acc_header .price_wrap .current {font-size: 18px;}
.accordion .acc_header .btn_text_line_s {font-size: 14px; margin: 0 10px 0 0;}
.accordion .acc_cont { display:none;} 
.accordion:first-child {border-top: 0}

.event_banner {margin-top: 60px;}
.event_banner li {margin-bottom: 8px}
.event_banner li a {display: block;}
.event_banner li a img {width:100%;}
.event_banner .link_banner { position: relative; display: flex; align-items: center; padding: 17px 20px; background: var(--bg-color-black); color: var(--txt-color-white );}
.event_banner .link_banner::after { content: ''; display:block; position: absolute; top: 50%; right: 20px; margin-top: -6px; width: 12px; height: 12px; background: url('../../images/uiux/icon/icon_arrow_w_12.png') no-repeat center;}

#prd_info .detail_box,
#prd_review,
#prd_recomnd {padding-top: 40px;}
.area_image {max-height: auto;}
.area_image.fold {max-height: 672px; overflow:hidden;}
.area_image img {width: 100%;}
.area_image img + img {margin-top: 10px;}

.tit_recomnd_wrap {display: flex; justify-content: space-between;}
.tit_recomnd_wrap .tit_recomnd {font-size: 18px; font-weight: bold;}

/* .brand_area {border: 1px solid var(--line-color-gray)}
.brand_area .brand_info {position: relative; display: flex; align-items: center; padding: 20px 30px;}
.brand_area .brandname_eng {font-size: 16px;}
.brand_area .brandname_kor {color: var(--txt-color-gray); margin-top: 5px;}
.brand_area .brand_img {width: 60px; height: 60px; border-radius: 30px; overflow: hidden; margin-right: 20px; padding-bottom: 0;}
.brand_area .brandarea_disc {border-top: 1px solid var(--line-color-gray); padding: 20px 30px 0; margin-bottom: 20px; overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.brand_area .button_equal {position: absolute; top: 20px; right: 30px;} */

.detail_center .tit_area .tit_lv2 {font-size: 18px;}
.detail_center .tit_area .pagination {border: 0; height: 28px; margin-right: -10px;}
.detail_center .tit_area .pagination a {border: 0; width: 15px; height: 15px; padding: 15px; z-index: 0}
.detail_center .tit_area .pagination a::after {font-size: 12px;}

.prd_label {text-align: center;background-color: var(--bg-color-gray02); border-radius: 3px; width: 75px}
.prd_label img {width: 26px; height: 76px; margin: 12px 24px 12px 25px; }

.purchase_area .btn_big_wrap {padding-top: 0}


.coupon_list { display: flex; flex-wrap: wrap; gap: 20px; }
.coupon_list .coupon_item { flex: 0 0 calc(50% - 10px); }
.coupon_list .coupon_item + .coupon_item { margin-top: 0;}
.coupon_list .coupon_item .coupon .desc { margin-top: 6px;}
.coupon_list .coupon_item .coupon .number { font-size: 40px; font-weight: 500;}
.coupon_list .coupon_item .btn_download { width: 76px;}

.twoway_right_area .coupon_list .coupon_item { flex : 0 0 100%; }
/* 쿠폰 */
.coupon_add_set { margin: 0 auto; text-align: center;}
.coupon_add_set .tit { font-size: 16px;}
.coupon_add_set .sub { margin-top: 10px; color: var(--txt-color-gray)}
.coupon_add_set .form_set { justify-content: center; margin-top: 20px;}

.coupon_group.mt60 { margin-top: 60px;}
.coupon_group.col_2 { display: flex; flex-wrap: wrap; }
.coupon_group.col_2 > div { flex: 0 0 calc(50% - 10px);margin-top: 0;}
.coupon_group.col_2 > div:nth-child(even){ margin-left: 20px; }
.coupon_group.col_2 > div:nth-child(n+3) { margin-top: 60px;}

.coupon_set .list_type1.type2 { margin-top: 20px;}

.coupon_item { position: relative; display: flex; height: 140px; background: var(--bg-color-gray02);}
.coupon_item + .coupon_item { margin-top: 15px;}
.coupon_item .badge { position: absolute; left: 0; bottom: 0; width: 140px; height: 20px; margin-left: 20px; background-color: rgba(204, 204, 204, 0.2); color: var(--txt-color-gray01); font-size: 10px; line-height: 20px; text-align: center; transform: rotate(270deg); transform-origin: bottom left; font-weight: 400; }
/* .coupon_item .coupon { flex: 1 1 100%; padding: 25px 20px 0 40px; overflow: hidden;} */
.coupon_item .coupon { flex: 1 1 100%; padding: 0 20px 0 40px; align-self: center; overflow: hidden;}
.coupon_item .coupon .tit { font-size: 40px; font-weight: bold;}
.coupon_item .coupon .tit .benefit{  display: inline-block; margin-bottom: 10px; font-size: 32px;  font-weight: 700;}
.coupon_item .coupon .tit .benefit.number{ display: inline-block;  margin-bottom: 6px; font-size: 40px; font-weight: 500;}
.coupon_item .coupon .tit .unit { margin-left: 2px; font-size: 14px; }
.coupon_item .coupon .desc { height: 16px;  white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width:320px; }
.coupon_item .coupon .time { margin-top: 4px; color: var(--txt-color-gray01); font-size: 12px; font-family: 'Pretendard';}
.coupon_item .btn_download { flex: 0 0 70px; margin: 10px 0; border-left: 1px dashed rgba(204,204,204,0.5); background: url('../../images/uiux/icon/ico_download.png') no-repeat center /22px 22px; }

.coupon_item.issued .coupon .tit { color: var(--txt-color-gray);}
.coupon_item.issued .coupon .desc { color: var(--txt-color-gray);}
.coupon_item.issued .btn_download { background: url('../../images/uiux/icon/ico_download_com.png') no-repeat center /22px 22px; }

.coupon_item.expired .coupon .tit { color: var(--txt-color-gray);}
.coupon_item.expired .coupon .desc { color: var(--txt-color-gray);}
.coupon_item.expired .btn_download { display: none; }


/* 쿠폰 버튼 없는 경우 */
.coupon_item.no_button.expired .btn_download{ display: block; background: none; color: var(--txt-color-gray  )}

.product_area { display: flex; }
.product_area .thumb { display: flex; align-items: flex-end; justify-content: center; width: 100px; height: 134px; flex-shrink: 0; padding-bottom: 0;}
.product_area .thumb img { width: 100%;}
.product_area .info { display: flex; flex-direction: column; justify-content: flex-end; padding-left: 20px; font-size: 14px; word-break: break-all; }
.restocked_alert.product_area .info { width:100%; overflow: hidden; }

.product_area .info .product,
.product_area .info .option { margin-top: 6px; }
.product_area .info .product { color: var(--txt-color-gray03); font-weight: 400;}

.sticky_purchase.on {position: sticky;top:0;left:0;z-index: 10;}

/* 230704 추가 | 상품 상세 동영상 비율 */
.video-box .video-wrap {
    position: absolute;
    background: #000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/* 230904 UIUX | 상품상세 공통배너 영역 추가 */
.prod_banner {overflow:hidden; position:relative; margin:40px 0; }
.prod_banner .bnr_txt {position:relative; z-index:1; min-height:186px;margin-right:250px; padding:50px 0 48px 20px; }
.prod_banner .bnr_txt .bnr_tit {margin-bottom:7px; font-weight:500; font-size:18px; line-height:1.2; color:#000; overflow:hidden; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; }
.prod_banner .bnr_txt .bnr_sub {font-size:16px; line-height:1.2; color:#666; overflow:hidden; display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; }
.prod_banner .bnr_img {position:absolute; width:100%; top:50%; left:50%; transform:translate3d(-50%, -50%, 0); }
.prod_banner .bnr_img img{width:100%}