/************ base *************/
/*base color setting */

:root{

--txt-color        : #000000;
--txt-color-white  : #ffffff;
--txt-color-gray   : #999999;
--txt-color-gray01 : #B1B1B1;
--txt-color-gray02 : #CCCCCC;
--txt-color-gray03 : #767676;
--txt-point        : #FF0000;

--bg-color-white     : #ffffff;
--bg-color-black     : #000000;
--bg-color-black01   : rgba(0,0,0,0.1);
--bg-color-black02   : rgba(0,0,0,0.4);
--bg-color-black03   : rgba(0,0,0,0.8);
--bg-color-black04   : rgba(0,0,0,0.04);
--bg-color-black05   : rgba(0,0,0,0.3);
--bg-color-black06   : rgba(0,0,0,0.2);
--bg-color-gray      : #CCCCCC;
--bg-color-gray01    : #333333;
--bg-color-gray02    : #F2F2F2;
--bg-color-gray03    : #B1B1B1;
--bg-color-gray04    : #FAFAFA;
--bg-color-gray05    : #999999;
--bg-color-gray06    : #767676;
--bg-color-point     : #FF0000;

--line-color         :#000000;
--line-color-black   :#1c1c1c;
--line-color-gray    :#F2F2F2;
--line-color-gray01  :#CCCCCC;
--line-color-gray02  :#999999;
--line-color-gray03  :#B1B1B1;
--line-color-white   :#FFFFFF;


--btn-fill-black     :#000000;   /* 버튼 컬러 스타일 */
--btn-fill-gray      :#999999;
--btn-fill-disabled  :#CCCCCC;
--btn-fill-disabled02  :#F2F2F2;
--btn-disabled         : #CCCCCC;


--btn-line-black     :#000000;   /* 버튼 라인 스타일 */
--btn-line-gray      :#CCCCCC;
--btn-line-disabled  :#CCCCCC;

--btn-txt-black     :#000000;   /* 버튼 텍스트 스타일 */
--btn-txt-gray      :#B1B1B1;
--btn-txt-focus     :#1A1A1A;
--btn-txt-disabled  :#B1B1B1;

--tab-txt-color     :#999999;

--input-color        :#333333;   /* 입력폼 스타일(input, textarea) */
--input-txt-color    :#CCCCCC;
--input-normal-line  :#CCCCCC;
--input-error-line   :#000000;
--input-placeholder  :#CCCCCC;
--input-disabled     :#F2F2F2;
--input-focus        :#000000;
--input-disabled-line:#CCCCCC;

}

/************ web font import *************/
/*
Copyright (c) 2021 Kil Hyung-jin, with Reserved Font Name Pretendard.
https://github.com/orioncactus/pretendard

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is copied below, and is also available with a FAQ at:
http://scripts.sil.org/OFL
*/

.col_gray { color: var(--txt-color-gray)}
.col_red { color: var(--txt-point)}

.ellipsis_1 { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

@font-face { 
    font-family: 'Pretendard'; 
    font-weight: 700; 
    font-display: swap; 
    src: local('Pretendard Bold'), url('./EQL_files/Pretendard-Bold.woff2') format('woff2'), url('./EQL_files/Pretendard-Bold.woff') format('woff'), url('./EQL_files/Pretendard-Bold.otf') format('truetype'); 
    unicode-range: 'U+AC00-D7A3'; 
        } 
    
    @font-face { 
    font-family: 'Pretendard'; 
    font-weight: 500; 
    font-display: swap; 
    src: local('Pretendard Medium'), url('./EQL_files/Pretendard-Medium.woff2') format('woff2'), url('./EQL_files/Pretendard-Medium.woff') format('woff'), url('./EQL_files/Pretendard-Medium.otf') format('truetype');  
    unicode-range: 'U+AC00-D7A3'; 
        }
    
    @font-face { 
    font-family: 'Pretendard'; 
    font-weight: 400; 
    font-display: swap; 
    src: local('Pretendard Regular'), url('./EQL_files/Pretendard-Regular.woff2') format('woff2'), url('./EQL_files/Pretendard-Regular.woff') format('woff'), url('./EQL_files/Pretendard-Regular.otf') format('truetype'); 
    unicode-range: 'U+AC00-D7A3'; 
        } 
    
    
    /* GT-America-Standard : English, number */
    @font-face {
        font-family: 'GT-America';
        font-style: italic;
        font-weight: 900;
        src:  url('./EQL_files/GT-America-Standard-Bold-Italic.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Bold-Italic.woff') format('woff'), url('./EQL_files/GT-America-Standard-Bold-Italic.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'GT-America';
        font-style: normal;
        font-weight: 900;
        src: url('./EQL_files/GT-America-Standard-Bold.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Bold.woff') format('woff'), url('./EQL_files/GT-America-Standard-Bold.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'GT-America';
        font-style: italic;
        font-weight: 700;
        src: url('./EQL_files/GT-America-Standard-Medium-Italic.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Medium-Italic.woff') format('woff'), url('./EQL_files/GT-America-Standard-Medium-Italic.ttf') format('truetype');
    }
    @font-face {
        font-family:  'GT-America';
        font-style: normal;
        font-weight: 700;
        src: url('./EQL_files/GT-America-Standard-Medium.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Medium.woff') format('woff'), url('./EQL_files/GT-America-Standard-Medium.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'GT-America';
        font-style: italic;
        font-weight: 500;
        src: url('./EQL_files/GT-America-Standard-Regular-Italic.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Regular-Italic.woff') format('woff'), url('./EQL_files/GT-America-Standard-Regular-Italic.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'GT-America';
        font-style: normal;
        font-weight: 500;
        src:url('./EQL_files/GT-America-Standard-Regular.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Regular.woff') format('woff'), url('./EQL_files/GT-America-Standard-Regular.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'GT-America';
        font-style: italic;
        font-weight: 400;
        src:url('./EQL_files/GT-America-Standard-Light-Italic.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Light-Italic.woff'), url('./EQL_files/GT-America-Standard-Light-Italic.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'GT-America';
        font-style: normal;
        font-weight: 400;
        src: url('./EQL_files/GT-America-Standard-Light.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Light.woff') format('woff'), url('./EQL_files/GT-America-Standard-Light.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'GT-America';
        font-style: italic;
        font-weight: 300;
        src: url('./EQL_files/GT-America-Standard-Light-Italic.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Light-Italic.woff') format('woff'), url('./EQL_files/GT-America-Standard-Light-Italic.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'GT-America';
        font-style: normal;
        font-weight: 300;
        src: url('./EQL_files/GT-America-Standard-Light.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Light.woff') format('woff'), url('./EQL_files/GT-America-Standard-Black-Light.ttf') format('truetype');
    }

    @font-face {
        font-family:  'GT-America';
        font-style: normal;
        font-weight: 300;
        src: url('./EQL_files/GT-America-Standard-Light.woff2') format('woff2'), url('./EQL_files/GT-America-Standard-Light.woff') format('woff'), url('./EQL_files/GT-America-Standard-Black-Light.ttf') format('truetype');
    }
    
    @font-face {
        font-family:  'NotoSansKR';
        font-style: normal;
        font-weight: 500;
        src: url('./EQL_files/NotoSansKR-Medium.woff2') format('woff2'),url('./EQL_files//NotoSansKR-Medium.woff') format('woff'),url('./EQL_files/NotoSansKR-Medium.otf') format('opentype');
    }
    

    
.font_en {font-family:  'GT-America';}
.font_ko {font-family:  'Pretendard';}
.font_jp {font-family: 'GT-America', 'Pretendard'; font-weight: 500}
.font_ch {font-family: 'GT-America', 'Pretendard'; font-weight: 500}



/************ layout *************/
 input::-ms-clear,
 input::-ms-reveal{ display:none;width:0;height:0;}
 input::-webkit-search-decoration,
 input::-webkit-search-cancel-button,
 input::-webkit-search-results-button,
 input::-webkit-search-results-decoration{display:none;}

.input_clear .search_btn { position: absolute;  top: 50%; right: 0px; width: 40px; height: 40px; margin-top: -25px; background: var(--bg-color-white); }
.input_clear .search_btn:before { content:''; display: block; width: 40px; height: 40px; background: url('../../images/uiux/icon/icon_search_32.png') var(--bg-color-white) no-repeat 50% 50%/ 32px 32px}

.input_clear.type2 { max-width: 840px; width: 100%; margin: 0 auto;}
.input_clear.type2 input, 
.input_clear.type2 input:read-only { height: auto; padding: 10px 0 18px; background-color: var(--bg-color-white); border: none; border-radius: 0; border-bottom: 2px solid var(--line-color); color: var(--txt-color); font-size: 28px; font-family: 'Pretendard';}
.input_clear.type2 input::placeholder {font-size: 28px; color: var(--txt-color-gray02);}
.input_clear.type2 .clear_btn { top: 50%;  width: 40px; height: 40px; margin-top: -25px;}
.input_clear.type2 .clear_btn::before { width: 40px; height: 40px; background: url('../../images/uiux/icon/icon_close_32.png') var(--bg-color-white) no-repeat 50% 50%/ 32px 32px}

.input_result { display: flex; justify-content: center; margin: 60px 0; font-size: 20px; font-weight: 700;}
.input_result.dot .list { position: relative; padding: 0 30px; color: var(--txt-color-gray); white-space: nowrap; font-weight: 500;}
.input_result.dot .list em { font-weight: inherit;}
.input_result.dot .list.is_active { color: var(--txt-color); font-weight: 700;}
.input_result.dot .list + .list::before { content: ''; position: absolute; top: 50%; left: 0; margin-top: -2px; display: block; width: 4px; height: 4px; border-radius: 50%; background: var(--btn-fill-gray)}
/* container */


/* .container {  overflow-x: hidden;} */
.wrap {  }
.container {  padding-top: 100px; padding-bottom: 300px; }
.container.pb0 {  padding-bottom: 0px; }
.container.height100 { height: 100vh; }
.container .content { padding: 60px 30px 0 30px }
.container .center_type {  width: 1220px; margin: 60px auto 0; padding: 0;}
.container .center_type.wd_type1 {  width: 1220px; }
.container .center_type1 {  width: 1220px; margin: 60px auto 0; }

/* .container .center_type1 .lnb { padding: 0 30px;}
.container .center_type1 .content { padding-top: 0; width: 980px; margin: 0 auto;} */
.container .center_type2 {border-top: 1px solid var(--line-color-gray);}
/* .container .center_type2 .inner {width: 1220px; margin:0 auto; padding-bottom:0px;} */
.lookbook_brand.container .center_type1 { margin-top:0}

/* 마이페이지 레이아웃 */
/* ui_common으로 이동 */
.container .center_type3 {display:flex; width: 1280px; margin: 60px auto 0}
.mylnb {width: 300px; padding: 0 30px;}
.mycontent {width: 920px;}
.container .center_type3 {display: flex; width: 1280px; }
.container .center_type3 .lnb {padding: 0 30px;}
.container .center_type3 .content { padding-top: 0; flex: 1;}

.divi { padding: 30px 0; border-bottom: 1px solid var(--line-color-gray)}
.section_block  + .section_block  { margin-top: 60px;}
.cont_MY .section_block  ~ .section_block  { margin-top: 60px;} 
.modal .section_block  + .section_block { margin-top: 40px;}
.section_block.mt60 { margin-top: 60px;}
.section_block.mt120 { margin-top: 120px;}
.container .center_type1 .lnb { width: 300px; padding: 0 30px; }
.container .center_type1 .lnb .inner {border: 1px solid red ; min-height: 400px;}
.container .center_type1 .lnb + .content { margin-left: unset; margin-right: unset}
/* .container .content.center_type */
.content.center_type .product_info.product_list > li {width: calc(16.66% - 10px) }

.container .center_type4{display:flex; width: 1220px; margin: 60px auto 0}
.container .center_type4 .lnb { width: 240px; padding: 0; flex-shrink: 0;}
.container .center_type4 .lnb + .content { margin-left: 60px; padding:0; min-width: 920px;}

/* @media (max-width: 1280px) {
    .content.center_type .product_info.product_list > li {width: calc(14.28% - 8px) }
} */
.container .inner_left {margin-right: -30px; padding-right: 30px;}
.container .swiper.inner_left {margin-left: -30px; padding-right: 60px}
.swiper.inner_left .swiper-wrapper {padding-left: 30px;}
.top_search { position:relative; width: calc(100% + 30px); margin: 60px -30px 0; border-bottom: 1px solid var(--bg-color-gray02)}
.top_search .input_clear .clear_btn.on {z-index:2;}
.top_search .input_clear .clear_btn.on + a {display:none}

.has_lnb.type1 { padding: 60px 30px 0px 30px; border-top: 0; }
/* .has_lnb.type1.pad_st1 { padding: 60px 0 0;} */
.has_lnb.type1 .lnb {width: 320px; min-width: 320px;}
.has_lnb.type1 > .content { flex: 1;}
.has_lnb.type1 .lnb .tit_area + .left_menu { margin-top: 60px;}
.has_lnb.type1 .content { width: 100%; padding: 0; }
.has_lnb.type1 .lnb + .content { margin-left: 60px;}
.has_lnb.has_border { border-top: 1px solid var(--line-color-gray)} 

.layout_sub_type1 {display:flex; padding-bottom:120px;}
.layout_sub_type1 .cont1 {width:645px;}
.layout_sub_type1 .cont2 {width:calc(100% - 645px); padding:40px 0 0 40px; position:relative}
/*231018 일반브랜드 상단 개선*/
.layout_sub_type1.general_brand .cont2{width:100%;padding-left:0}

.layout_sub_type2 {display:flex;}
.layout_sub_type2 .cont1 {width:430px;}
.layout_sub_type2 .cont2 {width:calc(100% - 430px); padding:0 0 0 40px;}

.section_gap1 {padding-bottom:60px; }
.lookbook_brand .section_gap1 {max-width:1920px; margin-left:auto; margin-right:auto }
.section_gap2 {padding-bottom:120px;}
.section_gap3 {padding-bottom:30px;}
/* .section_gap4 {padding-bottom:300px !important;} */

/* 비회원 주문 조회 */
.container .no_member {width: 640px}
.no_member .tit_area {text-align: center; display: block}
.no_member .tit_area .tit_lv2 {font-size: 36px;}
.no_member .form_section {display: flex; flex-wrap: wrap;}
.no_member .form_section .form_label {flex: 1 1 140px; line-height: 46px;}
.no_member .form_section .form_group {flex: 1 1 500px; margin-top: 20px;}
.no_member .form_section .btn_big_wrap {margin-top: 30px}
.no_member .tit_area + .form_section {margin-top: 0}
.no_member .tit_area.line_thick {margin-bottom: 10px;}

/*brand lang*/
.tab_lang_wrap{display:none}
.tab_lang_wrap.is_active{display:block}


.has_lnb.type1 .sticky { position: initial}
.has_lnb.type1.full .sticky.filter_type { position: sticky}
.has_lnb.type1.full .sticky.filter_type { padding: 30px 0 0px; margin: -30px 0 0px;}
.has_lnb.type1.full .sticky.on .filter_cont {position: absolute; top: 48px; background: var(--bg-color-white); }

.has_lnb.full .content, .has_lnb.full .lnb + .content { margin-left: 0; padding: 0;}
.has_lnb.full .lnb { display: none; }

.has_lnb {display:flex; border-top:1px solid var(--bg-color-gray02);}
/* .has_lnb .lnb { width:406px; } */
.has_lnb .lnb h3 {font-size: 28px; font-weight:500;}
.left_menu li a{position:relative;display:block}
.left_menu > li > a { min-height: 50px; border-bottom: 1px solid var(--line-color-gray);font-size:16px; font-weight:500; padding:18px 20px 7px 0;}
.left_menu > li:hover {border-color: var(--line-color);}
.left_menu > li.on > a { z-index: 1;  border-color: var(--line-color); box-shadow: 0px -2px 0px 0px var(--line-color) inset;}
.left_menu > li.on > a:only-child {z-index: 1;  border-color: var(--line-color); box-shadow: 0px -2px 0px 0px var(--line-color) inset;}
.left_menu > li.on > a:only-child::after {content:''; display:block; width:15px; height:15px; position:absolute; top:20px; right:0; z-index:1; background:url('../../images/uiux/icon/ico_arrow2.png') no-repeat;}
.left_menu > li.closeOn > a {border-color: var(--line-color); box-shadow: 0px -2px 0px 0px var(--line-color) inset;}
.left_menu > li > a > em      {display:inline-block; margin-bottom:5px;  vertical-align: 0; max-width:100%; line-height:20px; margin-right:10px; overflow: hidden; font-weight:700; white-space: nowrap; text-overflow: ellipsis; }
.left_menu > li > a > span    {display:inline-block; margin-bottom:5px; vertical-align: 0px; max-width:100%; line-height:18px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 12px; color:var(--txt-color-gray01);}
.left_menu .sub_menu { display:none; padding: 6px 0; border-bottom: 1px solid var(--line-color-gray); background:var(--bg-color-gray04);  }
.left_menu .sub_menu > li a {padding: 11px 46px 11px 24px; color: var(--txt-color-gray)}
.left_menu .sub_menu li.on > a { color: var(--txt-color)}
.left_menu .sub_menu li.on > a:only-child::after {content:''; display:block; width:15px; height:15px; position:absolute; top:14px; right:24px; z-index:1; background:url('../../images/uiux/icon/ico_arrow2.png') no-repeat;}
.left_menu .sub_menu > li a em     {display:inline-block; vertical-align: middle;  margin:0 10px 0 0; font-weight:700; }
.left_menu .sub_menu > li a span   {display:inline-block; vertical-align: middle; margin:0 0 0 0px; color:var(--txt-color-gray01); }
.left_menu .sub_menu .s_menu{padding:2px 0;display:none}
.left_menu .sub_menu .s_menu li a{padding-left:48px}
/* .left_menu > li.on .sub_menu { display: block; } */
.has_lnb .cont_area {padding:0 0 0 60px;}


.top_area { margin-top: 60px; padding: 0 30px 120px; border-bottom: 1px solid var(--line-color-gray)}
/* 상단 고정 탭 */
.sticky { height: auto !important; transition: left 0.4s ease, right 0.4s ease;}
.sticky.on {position: sticky; top: 0; left: 0; right: 0; background-color: var(--bg-color-white); z-index:10} /* 바디 여백 발생할 경우 margin-top: 0 */
.sticky {position: sticky; top: 0; width:100%; background-color: var(--bg-color-white); z-index:10} /* 바디 여백 발생할 경우 margin-top: 0 */

.tab_script_wrap .sticky.on {z-index:101}

/* aside quick */
/* .quick {position:fixed; right:20px; bottom:30px; z-index: 1000; transition: bottom 0.3s ease; } */
.quick {position:sticky; left: calc(100% - 68px); width: 48px; bottom: 30px; margin-bottom: 30px; z-index: 1000; transition: bottom 0.3s ease; }
.quick .quick_list li + li { margin-top: 10px; }
.quick .top, .quick .share, .quick .equal { width: 48px; height: 48px; background-color:var(--bg-color-black); border-radius:50%; box-shadow:0 5px 6px 0 rgba(0, 0, 0, 0.25);  }
.quick .top {opacity:0;}
.quick .top:before,
.quick .share:before, 
.quick .equal:before { content:''; display:block; width:26px; height:26px; margin:0 auto; background-size: 26px 26px;}
.quick .top:before {  background:url('../../images/uiux/icon/ico_top.png') no-repeat 0 50%;} 
.quick .share:before { background:url('../../images/uiux/icon/ico_share.png') no-repeat 0 50%;} 
.quick .equal:before {background:url('../../images/uiux/icon/ico_equal_quick.png') no-repeat 0 50%;} 
.quick .equal.is_active:before {background: url('../../images/uiux/icon/ico_equal_quick_on.png');}
.quick .top.scroll { opacity:1;}




/************ popups *************/
/* Modal Bottomsheet */
.modal_wrap { visibility: hidden; display:flex; position: fixed; left:100%; top:0; width:100%; height:100%; padding: 30px 0; z-index: 1100; overflow:auto; } 
.modal { position: relative; z-index: 1001; display:flex; flex-direction: column; background-color: var(--bg-color-white); overflow: hidden; } 
.modal_header {position: relative; z-index: 100; width:100%; text-align:center; flex: 0 0 60px} 
.modal_wrap .toast { bottom: 96px;}

.modal .modal_close_btn { position:absolute; z-index: 101; top:16px; right: 16px; display:block; width:28px; height: 28px; cursor: pointer;
background:url("../../images/uiux/icon/icon_p_close.png") no-repeat center; font-size:0}  
/*.modal .modal_close_btn:before,
.modal .modal_close_btn:after { position: absolute; top:7px; left: 12px; content:' '; height: 18px; width: 1px; background-color: var(--bg-color-black); } 
.modal .modal_close_btn:before { transform: rotate(45deg); } 
.modal .modal_close_btn:after { transform: rotate(-45deg); } */
/*
body.is_dimmed,
.is_dimmed body { overflow: hidden !important; } 
*/
.dimmer { visibility: hidden; opacity: 0; transition: all 0.5s ease; display: block; position: absolute; left: 0; top: 0; z-index: 1000; width: 100%; height: 100%; background-color: #000; -ms-touch-action: none; touch-action: none; } 
.is_visible .dimmer,
.is_visible.dimmer { visibility: visible; } 
.is_active .dimmer,
.is_active.dimmer { opacity: 0.6; } 
.is_active .dimmer.inner,
.is_active.dimmer.inner { opacity: 0; } 
.is_active .modal_bottomsheet + .dimmer { opacity: 0.6; } 
.modal_wrap.is_visible { visibility: visible; pointer-events: auto; left:0; } 
.modal_wrap.is_active .modal_bottomsheet { transform: translateY(0%); transition: all 0.5s ease; } 

/* dimmed */
/* .modal_dimmed { width:380px; margin:auto; background-color:var(--bg-color-white); opacity: 0; -webkit-transform: scale(0.75); transform: scale(0.75); transition: all 0.2s ease; } 
.modal_dimmed.wid_M { width:640px; } 
.modal_dimmed.wid_L { width:744px; } 
.modal_wrap.is_active>.modal_dimmed { opacity: 1; -webkit-transform: scale(1); transform: scale(1); } 
.modal_dimmed .modal_header h3 {height:60px; font-size:18px; font-weight:700; padding:20px 0 21px; line-height:1.3; border-bottom:1px solid var(--line-color-gray);} 


.modal_dimmed .modal_content .mcus_scroll {max-height:384px; overflow-y:auto; padding:50px 40px 70px;} 
.modal_dimmed.wid_L .modal_content .mcus_scroll {max-height:515px;} 
.modal_dimmed .modal_content .msg {padding:0 0 62px; font-size:18px; font-weight:500; text-align:center; line-height:1.3;} 
.modal_dimmed .modal_footer { display:flex; justify-content:flex-start; } 
.modal .modal_content {margin: 40px 0 0;}
.modal .modal_content .inner {padding: 0 40px 60px;}
.modal .modal_cont_tit {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 20px;}
.modal h4 {font-size: 16px;}
.modal .modal_cont_tit .sub_txt {font-size: 14px; color: var(--txt-color-gray);}
.modal .tab_style3 .tab_btn {font-size: 16px;}
.modal .section_block40 {margin-bottom: 40px;}
.modal.max_height {height: 750px;}
.modal.max_height.has_tab .modal_content {height: 585px; overflow: auto}
.modal .tit_area {font-size: 16px;}
.completed_alert {display: flex; flex-direction: column; align-items: center; margin-bottom: 40px;}
.completed_alert .msg_txt {font-size: 18px; font-weight: bold; margin-bottom: 30px;}
.modal .scroll_wrap {max-height: 594px; overflow: auto;}
.modal .scroll_wrap_500 {height: 520px; overflow: auto;}
.modal .product_list {margin: 0 -5px; width: 553px;}
.modal .product_list > li {width: calc(33.3% - 10px); margin: 0 5px 50px 5px}
.modal .img_box {padding-bottom: 0;}
.modal .img_view {background: var(--bg-color-gray02); text-align: center; margin: 0; padding: 40px 0 60px; max-height: 690px; overflow: auto;} */



/* 모달 레이아웃 */

/*
body.modalPop       {overflow: hidden;}
*/
.modal_dimmed { width:380px; margin:auto; background-color:var(--bg-color-white); opacity: 0; -webkit-transform: scale(0.75); transform: scale(0.75); transition: all 0.2s ease; } 
.modal_dimmed.wid_M { width:640px; max-height: 90vh;} 
.modal_dimmed.max_height { height: 90vh}
.modal_dimmed.wid_L { width:744px;  max-height:90vh; } 
.modal_dimmed.wid_XL { width:960px; max-height:90vh;} 
.modal_dimmed.wid_Mv { width:100%; max-width:960px; max-height:90vh; box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);}  
.modal_wrap.is_active>.modal_dimmed { opacity: 1; -webkit-transform: scale(1); transform: scale(1); } 

.modal_dimmed .modal_header h3 {height:60px;  font-size:18px; font-weight:700; padding:20px 0 21px; line-height:1.3; } 


.modal_dimmed.wid_M .modal_header h3 ,
.modal_dimmed.wid_L .modal_header h3 ,
.modal_dimmed.wid_XL .modal_header h3 ,
.modal_dimmed.wid_Mv .modal_header h3,
.modal_dimmed.type2 .modal_header h3 {  border-bottom:1px solid var(--line-color-gray); }


.modal_dimmed .modal_content { position: relative; display: flex; flex-direction: column; overflow: hidden; }
.modal_dimmed .modal_content .content_scroll { position:relative; overflow: hidden; overflow-y:auto; padding: 40px 40px 60px} 
.modal_dimmed .modal_content .content_scroll { height:auto; overflow-y: visible;} 
.modal_dimmed .modal_content .content_scroll.pb40 { padding-bottom: 40px}  
.modal_dimmed .modal_content .content_scroll.type1 { padding-top: 0;}
.modal_dimmed .modal_content .msg {display:block; margin-top: 0; padding:0 40px; margin-bottom: 60px; color: var(--txt-color); text-align:center; font-size: 18px; line-height: 24px; font-weight: 500;}
.modal_dimmed .modal_content .msg strong {display:block; padding-bottom:20px; }
.modal_dimmed .modal_content .msg2 {display:block; margin-top: 40px; margin-bottom: 60px; color: var(--txt-color); text-align:center; font-size: 18px; line-height: 24px; font-weight: 500;}
.modal_dimmed.type2 .modal_content .msg {margin: 40px 0 60px; font-size: 14px; line-height: 22px;}
 
/* .modal_dimmed .modal_content p.msg {padding-bottom:60px; }  */
.modal_dimmed .modal_content .msg::before {display:none; } 

.modal_dimmed .modal_footer { display:flex; justify-content:flex-start; } 

/* 모달 디자인 추가 */
.modal .modal_cont_tit {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 20px;}
.modal h4 {font-size: 16px;}
.modal .modal_cont_tit .sub_txt {font-size: 14px; color: var(--txt-color-gray);}
.modal .tab_style3 .tab_btn {font-size: 14px;}/*공통 변환 2023-02-27*/
.modal .section_block40 {margin-bottom: 40px;}
.modal .tit_area {font-size: 16px;}
.completed_alert {display: flex; flex-direction: column; align-items: center; margin: 40px 0;}
.completed_alert .msg_txt {font-size: 18px; font-weight: bold; margin-bottom: 30px;}
.modal .product_list.product_info {margin: 0 -5px; width: 553px;}
.modal .product_list.product_info > li {width: calc(33.3% - 10px); margin: 0 5px 50px 5px}
.modal .product_area.img_box {padding-bottom: 0;}
.modal .img_view {background: var(--bg-color-gray02); max-height: 690px; text-align: center;}

/*영상모달 디자인*/
.modal .img_box.mv_box { position: relative; padding-bottom: 66.67%; overflow: hidden; z-index: 1; margin:0 auto; width:100%}
.modal .img_box.mv_box .image_dimd {position: absolute; top: 0; left: 0; z-index:1; width:100%; height:100%;; background:var(--bg-color-black); opacity:0.3;}
.modal .img_box.mv_box .image {position:absolute;}
.modal .img_box.mv_box a.play_wrap {position: absolute; z-index: 2; top:50%; left:50%; transform: translate(-50%, -50%);}
.modal .img_box.mv_box a.play_wrap .thumb{ width:60px; height:60px; display:block}
.modal .img_box.mv_box a.play_wrap .thumb img{ width:100%}

/* toast */
.toast { position: fixed; left: 50%; bottom: 40px; width: 560px; margin-left: -280px; z-index: 1400; height:58px; text-align:center; padding:19px 15px 15px; border-radius: 2px; background-color:var(--bg-color-black03); color: var(--txt-color-white); visibility: hidden; opacity:0; transform: translateY(20%); transition: all 0.25s ease; } 
.toast .toast_txt { font-size:14px; color:var(--txt-color-white); } 
.toast.is_visible { visibility: visible; } 
.toast.is_active { opacity: 1; transform: translateY(0%); } 

/* tooltip */
/* .g_preview.right.top { display: flex; justify-content: flex-end; align-items: flex-start; text-align: left; } 
.tooltip { position: relative; display: flex; z-index: 10; }  
.tooltip .btn_info { position: relative; display: inline-flex; z-index: 10; transition: all 0.2s ease;}                   
.tooltip .btn_info:before {content:''; display:block; width:22px; height:22px; background:url('../../images/uiux/icon/ico_tooltip.png') no-repeat 50% 50%; background-size:18px 18px;}                   
.tooltip .tooltip_body {visibility: hidden; display: block; position: absolute; min-width: 300px; min-height: 60px; padding:23px 20px; opacity: 0; transition: all 0.2s ease; background: var(--bg-color-white); border:1px solid var(--line-color); border-radius:2px;} 
.tooltip.bottom .tooltip_body {top: 100%}
.tooltip.top .tooltip_body {bottom: 100%}
.tooltip.left .tooltip_body {right: 0;}
.tooltip.right .tooltip_body {left: 0}
.tooltip.center .tooltip_body {left: 50%; transform: translateX(-50%)}
.tooltip .tooltip_body .tool_txt {font-size:14px;} 
.tooltip.is_active .tooltip_body {opacity: 1} 
.tooltip.is_visible .tooltip_body {visibility: visible; pointer-events: auto;}     */


/* .tooltip_ui { position: relative; } */
.tooltip_ui.is_positioned { position: relative; }
.tooltip_ui .tooltip_open { position: relative; display: inline-flex; margin-top:2px;} 
.tooltip_ui .tooltip_open::after {content:''; display:block; width:16px; height:16px; background:url('../../images/uiux/icon/ico_tooltip_g.png') no-repeat 50% 50%;}      
.tooltip_wrap { position: absolute; top: 100%; margin-top: 3px; border: 1px solid var(--line-color); color: var(--txt-color); padding: 20px; background-color: var(--bg-color-white); border-radius:3px; z-index: 20;transition: all 0.5s ease; font-size: 13px; }
.tooltip_ui.is_positioned .tooltip_wrap { min-width: 200px; }
.tooltip_wrap.is_active { display: block; }
.tooltip_wrap {display: none; }

.tooltip_ui.type_dark .tooltip_wrap { right: -1px; max-width:max-content; margin-right:0; margin-top:-12px; padding: 12px 30px 11px 15px; background: var(--bg-color-black); color: var(--txt-color-white); border-radius: 2px;}
.tooltip_ui.type_dark .tooltip_wrap::before{ content: ''; position: absolute; top: -10px; right: 40px; display: block; width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid var(--bg-color-black);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; }
.tooltip_ui.type_dark .tooltip_wrap .tooltip_close { position: absolute;  right: 8px; top: 8px; width: 24px; height: 24px; background: url('../../images/uiux/icon/ico_close_w_16.png') no-repeat center/14px 14px; }

.tooltip_wrap .txt_nowrap { font-size: 14px; line-height:16px; white-space: nowrap; font-weight: 400;}
.tooltip_wrap .point { color: var(--txt-point)}

/* 브랜드 리스트 */
.brand_area {position: relative;  border: 1px solid var(--line-color-gray)}
.brand_area .brand_info {position: relative; }
.brand_area .brand_info a {display:block; display: flex; align-items: center; padding: 20px 30px 20px;}
.brand_area .brandname_eng {font-size: 16px;}
.brand_area .brandname_kor {color: var(--txt-color-gray); margin-top: 5px;}
.brand_area .brand_img {width: 60px; height: 60px; border-radius: 30px; overflow: hidden; margin-right: 20px; padding-bottom: 0; background: var(--bg-color-black02)}
.brand_area .brandarea_disc {border-top: 1px solid var(--line-color-gray); padding: 20px 30px 0; margin-bottom: 20px; overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.brand_area .button_equal {position: absolute; top: 20px; right: 30px;}


/* 공통 */
/* .tit_h2 { font-size: 28px; font-weight: 500; line-height: 1.29;} */


.tit_area + .product_list_wrap { margin-bottom: 30px;}
.product_list_wrap.space_type1 + .product_list_wrap.space_type1 { margin-top: 90px;}
/* .product_list_wrap .tit_area { padding-bottom: 30px;} */
.no_data { padding: 50px 0; color: var(--txt-color-gray);text-align: center; }
.no-data { padding: 50px 0; color: var(--txt-color-gray);text-align: center; }
.no_data.mt40 { margin-top: 40px;}
.no_data.type2 { padding: 90px 0;}
.no_data.type3 { color: var(--txt-color-gray); padding: 30px 0; text-align: left; }
.no_data.type4 { padding: 60px 0; font-size: 16px;}
.no_data.type5 {margin:40px 0 0; padding: 60px 0; font-size:16px;}
.no_data.type6 {padding: 0; text-align: left;}
.no_data .keyword { color: var(--txt-color); font-family: 'Pretendard';}
.section_block100 {margin-bottom: 100px;}
.section_block120 {margin-bottom: 120px;}
.section_block_t120 {margin-top: 120px;}

/* 타이틀 */
/* .tit_area {display: flex; justify-content: space-between; align-items: flex-start;} */

/* 화면 가득 */
.full_type {width: 100%; padding: 60px 30px 0px}

/* 1280 가운데 정렬 */
.detail_center {width: 1270px; margin: 0 auto; display: flex;}
.prd_left_area {width: 798px;}
.prd_right_area {width: 432px; margin-left: 40px;}


/* 이미지 커버 */
.img_box {position: relative; padding-bottom: 150%; overflow: hidden;}
.img_box.pad_bo01 {padding-bottom: 100%;;}
.img_box .image {position: absolute; top: 0; left: 0; width:100%; height:100%; background:url(../../images/uiux/common/no_thum.png) no-repeat 50% 50%; background-size: cover;  }
.img_box img {width: 100%; height: 100%; object-fit: cover;}

/* 타이틀 h2 */

/* 타이틀 */
.tit_lv2 { font-size: 28px; line-height: 36px; font-weight: 500;}
strong.tit_lv2 { font-weight: 700;}
.tit_lv4 { font-size: 18px; font-weight: 700;}
.tit_lv5 { margin-bottom: 30px; font-size: 16px; font-weight: 500;}
.tit_lv5.mb20 { margin-bottom: 20px;}
.tit_desc {font-size: 16px; font-weight: 400;}
.tit_lv2 + .tit_desc { margin-top: 10px; padding-right:30px; overflow: hidden; max-height:40px; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}
.tit_h3 {font-size: 28px; font-weight: bold; line-height: 1.29}


.tit_area.line_thick { margin-bottom: 30px; padding-bottom: 30px; border-bottom: 3px solid var(--line-color)}
.tit_area.line_thick.mb20 { margin-bottom: 20px;}
.tit_area {font-size: 18px;  font-weight: bold; }
.tit_area.mb0 { margin-bottom: 0px;}
.tit_area.mb20 { margin-bottom: 20px;}
.tit_area.line { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid var(--line-color);}
.tit_area.line.mb0 { margin-bottom: 0;}
.tit_area.mb60 {margin-bottom: 60px}
.tit_area.line2 {padding-bottom: 30px; align-items: center; border-bottom: 1px solid var(--line-color-gray);}

.tit_area {display: flex; justify-content: space-between; margin-bottom: 30px; padding: 0; align-items: flex-end;}
.tit_area .tit_lv2 {font-size: 28px;  line-height: 1.29; /*text-transform:uppercase;*/ overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}
.tit_area .tit_lv2.font_ty1 {font-size: 18px;}
.tit_area .tit_lv2 p {overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all;}
.tit_area .sub_tit {font-size: 16px; word-break: break-all;}
.tit_area.type2 {display: block; position: relative}
.tit_area.type2 .pagination {position: absolute; bottom: 0; right: 0;}
.tit_area.type2 .tit_lv2 {margin-bottom: 10px;}
.tit_area.type2 .sub_tit { margin-right: 30px; font-weight: normal; overflow: hidden; max-height:40px; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; }
.tit_area .tit_lv2 img {width: 100%}
.tit_area .stit_area {position: relative; display: flex; justify-content: space-between; align-items: flex-end; }
.tit_area .stit_area .pagination {position: static}
.tit_area.tit_img .sub_tit {}
.tit_area.tit_img .tit_lv2 {width:100%;}

.tit_area.has_btn {align-items: center;}
.tit_area.has_btn .tit_lv2 {/*width: calc(100% - 65px) */}
.tit_area .btn_more {display: flex; flex-wrap: wrap; align-items: center; align-content: center; /*width: 65px;*/ line-height: 14px; justify-content: flex-end;}
/* .tit_area .btn_more::after {content: 'next'; font-family: swiper-icons; font-size: 8px; font-weight: bold; padding-left: 5px;} */
.tit_area .btn_more::after { content: ''; margin-left: 4px; width: 3px; height: 3px; border-style: solid; border-width: 1px 1px 0 0; border-color: var(--bg-color-black); transform: rotate(45deg);}

.tit_lv3 {font-size:16px; padding:40px 0 20px;}




/* 이벤트 기획전 상세 */
.twoway_center {max-width: 2560px; margin: 0 auto; display: flex; height: 100%;}
.twoway_center .os-content  { padding-bottom: 300px;}
.twoway_center .os-content > *:last-child { padding-bottom: 0px !important;}
.twoway_left_area {width: calc(100% / 3 * 2);}
.twoway_right_area {width: calc(100% / 3);}
/* .twoway_center .content { padding-bottom: 300px;} */
.lookbook_sub .twoway_left_area { padding:60px 0 0 0; }/*룩북여핵*/
.lookbook_sub .twoway_left_area .brand_list{ width:calc(100% - 60px); margin-bottom:60px; margin-left:30px; margin-right:30px}/*룩북여핵*/
.lookbook_sub .twoway_right_area { border-left:1px solid var(--bg-color-gray02); justify-content: stretch;}/*룩북여핵*/

.twoway_full_area { width: 100%; position: relative }
/* .twoway_full_area .insert_html + .content.center_type { margin-top: 120px;} */

.twoway_left_area .mcus_scroll {max-height: 100%; }
.twoway_left_area .content { padding-top: 120px;}
.twoway_left_area .badge_wrap [class^='badge'] {font-size: 13px; height: 30px; line-height: 30px;}
.twoway_left_area .product_info.swiper-wrapper > li {width: calc(100% / 3);}
.twoway_left_area .content .badge_wrap,
.twoway_full_area .content .badge_wrap { position: absolute; top: unset; left: 0; }



.twoway_full_area .badge_wrap.fixed,
.twoway_left_area .badge_wrap.fixed { position: absolute; top: 0; left: 0; width:100%; height:40px; overflow: hidden; z-index:100;  }
.twoway_full_area .badge_wrap.fixed::before,
.twoway_left_area .badge_wrap.fixed::before {content:""; position:absolute; width:100%; height:40px; background:#000; opacity:0.6}
.twoway_full_area .badge_wrap.fixed .badge.orange,
.twoway_left_area .badge_wrap.fixed .badge.orange {position:relative; width:100%; height:40px; padding:9px 0 0; background:none; font-size:14px; line-height:22px; color:#fff;   }


.twoway_right_area .mcus_scroll {max-height: calc(100% - 56px); }
.twoway_right_area .sticky { width: calc(100% - (100% / 3 * 2));  background: var(--bg-color-white); z-index: 99;}
.insert_html { position: relative;}

/* .twoway_right_area > .sticky ~ .mcus_scroll .content { padding-top: 117px;} */
.twoway_right_area .sticky { width: 100%; overflow: hidden; padding: 0;} 


/* .twoway_right_area ..sticky .tab_btn { height: 57px;} */

.twoway_right_area .sticky .swiper-slide { width:auto;}
.twoway_right_area .tab_style3 .tab_btn { font-size: 14px; }
.twoway_right_area .product_list.product_info > li {width: calc(50% - 10px);}
.twoway_right_area .brand_area {border: 0;}
.twoway_right_area .brand_area .brand_info a {padding: 0}
.twoway_right_area .brand_area li {margin-bottom: 30px;}
.twoway_right_area .brand_area li:last-child {margin-bottom: 0}
.twoway_right_area .brand_area .button_equal {top: 50%; right: 0; margin-top: -12px;}

.twoway_right_area .section_block + .section_block { margin-top: 120px;}

.twoway_left_area .product_list_evt li,
.twoway_full_area .content .product_list_evt li {width: calc(100% / 3 - 10px); }


.os-theme-dark > .os-scrollbar-vertical, .os-theme-light > .os-scrollbar-vertical {bottom: 7px !important; width: 7px !important}
.os-theme-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {background: var(--bg-color-gray) !important;}
.twoway_right_area .swiper-pagination-progressbar {background: none; box-shadow: 0px -1px 0px 0px var(--line-color-gray) inset;}

.swiper_tab .tab_style2 { overflow: inherit; padding: 0; border: none;}
.swiper_tab .tab_style2 .tab_btn:last-child { padding: 0;}
.swiper_tab .tab_style2 .tab_btn:last-child.is_active:after { width: 100%; }
.swiper_tab { box-shadow: 0px -1px 0px 0px var(--line-color-gray) inset; padding: 0 30px}
.swiper_tab .swiper-horizontal>.swiper-scrollbar, .swiper_tab .swiper-scrollbar.swiper-scrollbar-horizontal { height: 3px;}
.swiper_tab .swiper-scrollbar { background: transparent;}
.swiper_tab .swiper-scrollbar-drag { background: var(--bg-color-gray); border-radius: 1.5px;}

/* contents 공통 */

[class^="txt_"].gray {color: var(--txt-color-gray)}
[class^="txt_"].mt30 { margin-top: 30px;}
.txt_s { font-size: 14px;} 
.txt_m { font-size: 16px; line-height: 22px;}
.txt_l { font-size: 18px;}
.col_black {color: var(--txt-color)}
.align_center { text-align: center;}
.txt_confirm { margin-top: 40px; font-size: 18px;  text-align: center}
.mt20 { margin-top: 20px;}
.mt60 { margin-top: 60px;}
.justify_center {justify-content: center}


[class^="com_bg_box"]         {padding:15px; border:1px solid var(--line-color-gray); background-color:var(--bg-color-gray04); text-align: center; }
/* [class^="com_bg_box"].mt15    {margin-top:15px;}
[class^="com_bg_box"].mt20    {margin-top:20px;}
[class^="com_bg_box"].mt40    {margin-top:40px;} */
[class^="com_bg_box"].align_left { text-align: left;}

[class^="com_bg_box"] .tit { font-size: 16px; }
[class^="com_bg_box"] .info { margin-top: 10px; font-size: 14px; color: var(--txt-color-gray)}


.com_bg_box2 { padding: 20px;}


.done_wrap { width: 640px; margin: 60px auto 0; text-align: center; }
.done_wrap.mt0 { margin-top: 0px;}
.done_wrap.mt30 { margin-top: 30px;}
.done_wrap.has_line { border-bottom: 1px solid var(--line-color-gray); margin-top: 30px; padding-bottom: 30px;}
.done_wrap .notice_txt { justify-content: center;}
.done_wrap.type2 { width: 580px; }
.done_wrap.type4 { width: 920px; margin:30px 0 0 0 }
.done_wrap .gray_box_info { margin-top: 40px;}
.done_wrap .err_txt { text-align: left;}
.section_block.done_wrap { margin-top: 30px}

/* .icon_cont			{padding:40px 0} */
.icon_cont.mt30 { margin-top: 30px;}
.icon_cont.pt30 { padding-top: 30px;}
.icon_cont .ico_tit {display: block; text-align: center; font-size: 22px; padding-top: 68px; font-weight: 700;}
.icon_cont .ico_mtit { font-size: 18px; font-weight: 700; }
.icon_cont .ico_stit { margin-top: 20px; font-size: 16px;}
.icon_cont .ico_info { margin-top: 10px; color: var(--txt-color-gray); font-size: 14px; font-weight: 500; line-height: 22px;}
.login_wrap .icon_cont .ico_info,
.done_wrap.type2 .icon_cont .ico_info { margin-top: 15px;}
.icon_cont .ico_info.mt20 { margin-top: 20px; }
.icon_cont .com_bg_box2 { margin-top: 40px;}
.icon_cont .btn_big_wrap:not(.medium) { margin-top: 40px;}/* 완료쪽 탭은 40 간혹 60 */
.icon_cont .btn_big_wrap.mt60:not(.medium) { margin-top: 60px;}/* 완료쪽 탭은 40 간혹 60 */
.icon_cont .btn_big_wrap.mt40 { margin-top: 40px;}
.icon_cont  .btn_sub_m { margin-top: 20px;}

.icon_cont .tip_txt { margin-top: 40px; text-align: center; color: var(--txt-color-gray)}

.icon_cont .ico_tit.ico_complate {background: url('../../images/uiux/icon/ico_com_b_48.png') no-repeat center 0;}
.icon_cont .ico_tit.ico_hpoint_eql			{ background: url(../../images/uiux/icon/logo_hpoint_eql.png) no-repeat 50% 0; background-size: 228px 32px; padding-top: 62px; }
.icon_cont .ico_tit.ico_hpoint_eql_30			{ background: url(../../images/uiux/icon/logo_hpoint_eql_30.png) no-repeat 50% 0; background-size: 185px 30px; padding-top: 50px; }
.icon_cont .ico_tit.ico_dormant			{background: url(../../images/uiux/icon/ico_dormant_40.png) no-repeat 50% 0; background-size:48px;  }
.icon_cont .ico_tit.ico_password			{background: url(../../images/uiux/icon/ico_password_40.png) no-repeat 50% 0; background-size:48px;  }

/* .icon_cont .ico_tit	.txt_m { margin-top: 15px; font-size: 14px; } */
.icon_cont .ico_tit.ico_fail			{background: url(../../images/uiux/icon/ico_fail_48.png) no-repeat 50% 0;}
/* .icon_cont .ico_tit.ico_gift			{background: url(../../images/uiux/icon/ico_gift_40.png) no-repeat 50% 0; background-size:40px;  } */
/* .icon_cont .ico_tit.ico_complate		{background: url(../../images/uiux/icon/ico_com_b_40.png) no-repeat 50% 0; background-size:40px;  } */
/* .icon_cont .ico_tit.ico_hpoint			{background: url(../../images/uiux/icon/ico_hpoint_40.png) no-repeat 50% 0; background-size:40px;  } */


/* 말줄임 */
.ellip1 {display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; white-space: normal;}
.ellip2 {display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; white-space: normal;}


/* 공통 */
/* 공유하기 */
.share_wrap {display: flex; flex-direction: column; align-items: center; margin: 40px 40px 60px}
.share_wrap .share_txt {margin-bottom: 30px}
.share_wrap .img_box {width: 100px; height: 100px; padding-bottom: 0; border-radius: 50px;}
.share_txt {text-align: center; margin-top: 20px;}
.share_txt strong,
.share_txt span {display: block; overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; white-space: normal;}
.share_txt span {font-size: 14px; color: var(--txt-color-gray);margin-top: 6px;}
.share_txt strong {font-size: 16px; font-weight: 500;}
.share_link {display: flex; gap: 20px;}
.share_link a {clip: rect(0, 50px, 50px, 0); overflow: hidden; white-space: nowrap; width: 50px; height: 50px; display: inline-block; text-indent: -9999px;}
.share_link a.share01 {background: url(../../images/uiux/icon/btn_kakao.png) no-repeat 0/ 50px 50px ;}
.share_link a.share02 {background: url(../../images/uiux/icon/btn_fb.png) no-repeat 0/ 50px 50px ;}
.share_link a.share03 {background: url(../../images/uiux/icon/btn_twitter.png) no-repeat 0/ 50px 50px ;}
.share_link a.share04 {background: url(../../images/uiux/icon/btn_url.png) no-repeat 0/ 50px 50px ;}

/* 메인 배너 */
.layer_popup {overflow: hidden; padding: 0;}
.main_layer_ban {position: relative; margin: 0 20px; }
.main_layer_ban .img_mainbanner {position: relative; margin: -20px;}
.main_layer_ban .evt_txt {position: absolute; font-size: 20px; font-weight: 500; top: 40px; width: 100%; padding: 0 20px }
.main_layer_ban .evt_go {position: absolute; display: block; bottom: 20px; width: 100%; height: 48px; background: var(--bg-color-black); color: var(--txt-color-white); font-size: 14px; border-radius: 3px;}
.main_layer_close {height: 54px; display: flex; align-items: center; justify-content: space-between; padding: 20px; background: var(--bg-color-white);font-size: 13px; }
.main_layer_close .checkbox,
.main_layer_close button {font-size: 13px}
.main_layer_close .modal_close_btn {position: static;}
.main_layer_close .modal_close_btn::before,
.main_layer_close .modal_close_btn::after {display: none}
.main_layer_close .checkbox label span {color: var(--txt-color-gray); }

/* 메인 하단 배너 */
.main_bottom_layer {left: auto; top: auto; bottom: 0; height: auto; padding: 0; justify-content: flex-end;}
.main_bottom_layer.modal_wrap.is_visible {left: auto}
.main_bottom_layer .modal_dimmed {margin: 0;}
.main_bottom_layer .main_layer_ban {margin: 0;}
.main_bottom_layer .main_layer_ban .swiper_mb {margin: 0;}

.main_layer_ban .pagination {position: absolute; top: 20px; right: 20px; display: block;left: auto; z-index: 10; border: none; background: rgba(0, 0, 0, 0.2); border-radius: 10.5px; width: 39px; height: 21px; color: var(--txt-color-white); font-size: 10px; font-weight: normal; line-height: 21px; text-align: center;}
.main_bottom_layer .main_layer_ban .evt_tit_wrap {position: absolute;top: 30px; left: 30px; width: 200px; padding: 0; }
.main_bottom_layer .main_layer_ban .evt_txt {position:static; padding:0; color: #FFF; font-size: 20px; line-height: 1.4; }
.main_bottom_layer .main_layer_ban .evt_txt2 {color: #FFF; font-size: 13px; font-weight: normal; line-height: 1.54; margin-top: 10px;}
.main_bottom_layer .main_layer_ban .evt_go {color: #FFF; width: auto; left: 30px; bottom: 30px;font-size: 12px; background: none; border: 1px solid #FFF; border-radius: 2px; padding:0 20px; height: 28px; line-height: 28px;}
.main_noti_layer {box-shadow: 0px 0px 15px rgba(0,0,0,.05);}

.swiper_mb.swiper-backface-hidden .swiper-slide {transform: none; -webkit-backface-visibility:unset;backface-visibility: unset;}


/* 에러 */
.error_wrap { width: 640px; margin: 0 auto}
.error_wrap,
.errer_btn {display: flex; flex-direction: column; align-items: center;}
.error_wrap [class^="error_"] {text-align: center; }

.error_wrap .error_txt {font-size: 24px; font-weight: bold; background: url('../../images/uiux/common/ico_fail_100.png') no-repeat center 0 /100px 75px; padding-top: 85px; line-height: 1.33;}
.error_code {margin-top: 40px; width: 100%; height: 58px; line-height: 56px; background-color: var(--bg-color-gray04); border: 1px solid var(--bg-color-gray02);}
.error_description {color: var(--txt-color-gray); margin-top: 30px; line-height: 1.57;}

.errer_btn {width: 100%; gap: 10px; margin-top: 60px; flex-direction: row;}
.errer_btn button {height: 52px; width: 100%; background: var(--bg-color-black); color: var(--txt-color-white); border-radius: 3px; font-size: 16px;}
.errer_btn button.white {background: var(--bg-color-white); color: var(--txt-color)}



/* 로딩바 */
body.dimed #dimed   {position:fixed; z-index:5000; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0,.6); }

body.loading_open   {overflow: hidden;}
.loading_wrap {display: flex; position: fixed; z-index: 30000; top: 0; left: 0;width: 100vw; height: 100vh; align-items: center; justify-content: center; background: rgba(255,255,255,0.6);}
.loading_wrap.back {background: rgba(255,255,255,1);}
.loading_cont {width: 100px; height: 86px;text-align: center;}
.loading_img {width: 60px; margin: 0 auto;}
.loading_txt {line-height: 100%; margin-top: 20px; font-size: 16px;}


.loading_img			{position:relative; width:60px; height:46px; }
.loading_img span.loader_img			{position:relative; display:block; width:60px; height:46px; margin:auto 0; }
.loading_img span.loader_img em		{position:absolute; width:20px; height:20px; left:20px; top:13px; background:#000; }
.loading_img span.loader_img em.top{
    animation-duration: 1.2s;
    animation-name: loaderAction_top;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.loading_img span.loader_img em.bt{
    animation-duration: 1.2s;
    animation-name: loaderAction_bt;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loaderAction_top {
    from {
        transform: translateX(0) translatey(0);
        width:20px;
    }
    30% {
        transform: translateX(0) translatey(0);
        width:20px;
    }
    50% {
        transform: translateX(-20px) translatey(0);
        width:60px;
    }
    70% {
        transform: translateX(-20px) translatey(-13px);
        width:60px;
    }
    to {
        transform: translateX(-20px) translatey(-13px);
        width:60px;
    }
}
@keyframes loaderAction_bt {
    from {
        transform: translateX(0) translatey(0);
        width:20px;
    }
    40% {
        transform: translateX(0) translatey(0);
        width:20px;
    }
    50% {
        transform: translateX(-20px) translatey(0);
        width:60px;
    }
    60% {
        transform: translateX(-20px) translatey(13px);
        width:60px;
    }
    to {
        transform: translateX(-20px) translatey(13px);
        width:60px;
    }
}


/* 230908 UIUX | 상품 정렬순, 브랜드 필터 기능 추가 */
.btn_filter_wrap .btn_filter {position:relative;display:inline-flex; align-items:center; padding:3px; font-weight:500; font-size:14px; color:#000; }
.btn_filter_wrap .btn_filter::after {content:''; display:inline-block; width:15px; height:15px; margin-left:5px; background:url('../../images/uiux/icon/ico_filter_pr.png') no-repeat 0 0; }
.btn_filter_wrap .btn_filter.is_active::before{content:''; position: absolute; right: 0; top: 3px; width: 3px; height: 3px; background: var(--bg-color-point); border-radius: 50%;}
.new_brand_filter {width:640px; }
.search_new_brand_filter .custom_select_wrap{margin-left:auto}
.new_brand_filter_cont .scroll_y {overflow-y:auto; max-height:620px; padding:0 0 40px 40px; }
.new_brand_filter_cont .section_gap1 {padding-bottom:0; }
.new_brand_filter_cont .section_gap1 .tit_brand {padding:40px 0 20px; font-weight:700; font-size:16px; line-height:1.25; color:#000; }
.new_brand_filter_cont .section_gap1 ul {display:flex; flex-wrap:wrap; }
.new_brand_filter_cont .section_gap1 ul li {flex:0 0 auto; width:50%; margin:0 0 20px 0; padding:0 40px 0 0; }
.new_brand_filter_cont .section_gap1 ul li .checkbox {width:100%; }
.new_brand_filter_cont .section_gap1 ul li .checkbox label {flex-wrap:wrap; }
.new_brand_filter_cont .section_gap1 ul li .checkbox label .tit > span {display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:1; word-break:break-all; width:100%; }
.new_brand_filter_cont .section_gap1 ul li .checkbox label .value {width:100%; }
.search_result_wrap .search_result_brand_wrap .auto_complete_wrap {}

.new_brand_filter_cont [data-id="tab-e"] .section_gap1 .tit_brand {font-family:'GT-America', sans-serif; }

