@charset 'utf-8';

/* .tit_area {margin-bottom: 30px; padding: 0; align-items: flex-end;}
.tit_area .tit_lv2 {font-size: 28px; font-weight: 500; line-height: 1.29;} */

.category_depth {display: flex; justify-content: space-between; }
.category_depth .tit_area {display: block; margin: 0; padding: 0}

.hot_keyword {display: flex; align-items: flex-start; justify-content: space-between; min-width: 1050px; margin-right: 100px;  }
.rank_list {margin-top: 4px; width: 40%;}
.rank_list li { font-size: 50px; font-weight: 500; padding-bottom: 8px;}
.rank_list li a {display: flex;}
.rank_list em {display: block; font-size: 18px; font-weight: 500; margin-right: 10px; line-height: 2.3;}
.rank_list li span {overflow: hidden; display: -webkit-box; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

.keyword_area{text-align:center;margin-top:60px}
.keyword_area h2{display:-webkit-box;font-weight:700;font-size:28px;line-height:1.29;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.keyword_area .sub_tit{display:-webkit-box;margin-top:20px;font-size:16px;line-height:1.5;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}

.full_type .has_lnb.type1 {border-top:1px solid var(--bg-color-gray02);margin: 0 -30px;}

/* 가로스와이프 - 그라데이션 */
.swiper_grd{position:relative}
.swiper_grd .swiper-button{width:100px;height:100%;top:0;margin:0;background:linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 80%);transition:opacity .2s;pointer-events:none}
.swiper_grd .swiper-button.swiper-button-disabled{opacity:0}
.swiper_grd .swiper-button-prev{left:-1px}
.swiper_grd .swiper-button-next{right:-1px;transform:rotate(180deg)}
.swiper_grd .swiper-button:after{display:none}
/* 테마관 공통 */
.eql_theme{position:relative;overflow:hidden;--theme-margin:30px}
.eql_theme ~ .eql_theme{margin-top:120px}
.eql_theme.corner_md1 + .eql_theme{margin-top:90px}
.eql_theme .tit_area{position:relative;padding-left:var(--theme-margin)}
.eql_theme .tit_area .tit_lv2{font-weight:700}
.eql_theme img{width:100%;vertical-align:top}
.eql_theme .swiper .swiper-slide{height:auto}
.eql_theme .swiper .shell{position:relative;display:block;height:100%}
.eql_theme .swiper .shell img{height:100%;object-fit:cover}
.eql_theme.type_row{display:flex;gap:70px;align-items:start}
.eql_theme.type_row .tit_area{width:max(26%,250px);flex-shrink:0}
.eql_theme.type_row .row_con{flex-grow:1;width:min(0%, 100%)}
/* 테마관 메인배너 */
.corner_md1{padding-top:10px;background:var(--bg-color-black)}
.corner_md1 .swiper{aspect-ratio:1920/610}
.corner_md1 .swiper-button{width:60px;height:60px;margin-top:-30px;background:url(../../images/uiux/icon/ico_arrow_120.png) 0 0/100% no-repeat}
.corner_md1 .swiper-button:after{display:none}
.corner_md1 .swiper-button-prev{left:0;transform:rotate(180deg)}
.corner_md1 .swiper-button-next{right:0}
.corner_md1 .swiper-button.swiper-button-disabled{opacity:.35}
/* 테마관 네비게이션 */
.corner_md2 .tab_style6{padding:0 var(--theme-margin);overflow:hidden}
.corner_md2 .tab_style6 .swiper-wrapper{width:auto;margin:0 0 0 auto}
.corner_md2 .tab_style6 .swiper-slide{width:auto}
.corner_md2 .tab_style6 .tab_btn{display:block;width:100px}
.corner_md2 .tab_style6 .swiper-slide:first-child .tab_btn{margin-left:0}
.corner_md2 .tab_style6 .tab_btn figure{padding:0;border-width:5px;background:var(--bg-color-gray02) url('../../images/uiux/common/no_thum.png') no-repeat 50% 50%/cover}
.corner_md2 .tab_style6 .tab_btn:focus figure{border-color:var(--bg-color-white)}
.corner_md2 .tab_style6 .tab_btn em{display:-webkit-box;-webkit-box-orient:vertical;max-height:34px;line-height:17px;white-space:normal;-webkit-line-clamp:2;overflow:hidden;word-break:break-all;color:var(--txt-color)}
/* 테마관 이슈키워드 */
.corner_md3 .swiper_grd ~ .swiper_grd{margin-top:10px}
.corner_md3 .btn_round_box .swiper-wrapper{width:auto;margin:0 0 0 auto}
.corner_md3 .btn_round_box{margin:0;padding:0 var(--theme-margin)}
.corner_md3 .swiper-slide{width:auto}
.corner_md3 .swiper-slide ~ .swiper-slide{margin-left:30px}
.corner_md3 .btn_round_box .btn_round{margin:0}
.corner_md3 .btn_round_box .btn_round .txt{white-space:normal}
/* 테마관 쿠폰 */
.corner_md13 .pagination{position:absolute;top:100%;left:var(--theme-margin);margin-top:30px}
.corner_md13 .pagination:has(.swiper-button-prev.swiper-button-disabled + .swiper-button-next.swiper-button-disabled){display:none}
.corner_md13 .coupon_wrap{width:460px;margin-right:93px;margin-left:auto}
.corner_md13 .coupon_wrap .coupon_notice{margin-top:30px;font-weight:400;font-size:14px;line-height:1.42;letter-spacing:-.28px;word-break:keep-all;user-select:none}
.corner_md13 .coupon_wrap .coupon_tit{font-weight:inherit;cursor:pointer}
.corner_md13 .coupon_wrap .coupon_tit input{display:none}
.corner_md13 .coupon_wrap .coupon_tit:after{content:'보기';margin-left:4px}
.corner_md13 .coupon_notice.on .coupon_tit:after{content:'닫기'}
.corner_md13 .coupon_wrap ul{margin-top:10px;height:0}
.corner_md13 .coupon_wrap ul li{position:relative}
.corner_md13 .coupon_wrap ul li:before{content:'-';position:absolute;top:0;left:-13px}
.corner_md13 .coupon_notice.on ul{height:auto}
/* 테마관 베스트 */
.corner_md14 .pagination{position:absolute;bottom:0;right:var(--theme-margin)}
.corner_md14 .swiper_type3{padding:0 var(--theme-margin)}
/* 테마관 상품리스트 */
.corner_prd .tit_area{padding-left:0}